<input type="checkbox" id="cart-quick" class="Cart-state" />
<aside class="Cart--quick">
    <div class="Cart-header">
        {% assign shoppingBagMod = 'tonedown' %}
        {% include 'shopping-bag' with 'default' %}
        <strong class="Headline Headline--6">{{ 'cart.general.title' | t }}</strong>
        <label class="Link Link--small" for="cart-quick">{{ 'cart.general.close_cart' | t }}</label>
    </div>
    {% if cart.item_count > 0 %}

    {% else %}
      {% comment %}
        The cart is empty
      {% endcomment %}
      <strong class="Headline Headline--4">{{ 'cart.general.empty' | t }}</strong>
    {% endif %}
    <label class="Cart-shim" for="cart-quick">Close</label>
</aside>
