<aside class="Cart--quick">
    <div class="Cart-header">
        {% assign shoppingBagMod = 'tonedown' %}
        {% include 'shopping-bag' with 'default' %}
        <strong class="Headline Headline--6">{{ 'cart.general.title' | t }}</strong>
        <label class="Link Link--small">{{ 'cart.general.close_cart' | t }}</label>
    </div>
</aside>
