<div class="CookieNotification js-cookie-notification">
  <span>{{'general.cookie' | t}} <a class="CookieNotification-link" href="{{ pages['privacy-policy'].url }}"> cookies</a></span>
  <span class="CookieNotification-close js-cookie-notification-close">X</span>
</div>
