<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="Arrow_right" viewBox="0 0 20 20">
      <title>Arrow Right</title><polygon points="14.07 11.91 2.16 0 0 2.16 9.76 11.92 0 21.69 2.16 23.85 14.07 11.94 14.05 11.92 14.07 11.91"/>
  </symbol>
  <symbol id="Arrow_left" viewBox="0 0 20 20">
      <title>Arrow Left</title><polygon points="0 11.91 11.5 0 13.59 2.16 4.16 11.92 13.59 21.69 11.5 23.85 0 11.94 0.02 11.92 0 11.91"/><polygon points="57.23 11.91 45.32 0 43.16 2.16 52.92 11.92 43.16 21.69 45.32 23.85 57.23 11.94 57.21 11.92 57.23 11.91"/>
  </symbol>
</svg>
