<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="Arrow_right" viewBox="0 0 20 20">
      <title>Arrow Right</title><polygon points="14.07 11.91 2.16 0 0 2.16 9.76 11.92 0 21.69 2.16 23.85 14.07 11.94 14.05 11.92 14.07 11.91"/>
  </symbol>
  <symbol id="Arrow_left" viewBox="0 0 20 20">
      <title>Arrow Left</title><polygon points="0 11.91 11.5 0 13.59 2.16 4.16 11.92 13.59 21.69 11.5 23.85 0 11.94 0.02 11.92 0 11.91"/><polygon points="57.23 11.91 45.32 0 43.16 2.16 52.92 11.92 43.16 21.69 45.32 23.85 57.23 11.94 57.21 11.92 57.23 11.91"/>
  </symbol>
  <symbol id="Plus" viewBox="0 0 10 10">
      <title>More Icons</title><polygon points="0 11.91 11.5 0 13.59 2.16 4.16 11.92 13.59 21.69 11.5 23.85 0 11.94 0.02 11.92 0 11.91"/><polygon points="42.6 12 30.69 0.09 28.53 2.25 38.3 12.01 28.53 21.78 30.69 23.94 42.6 12.03 42.58 12.01 42.6 12"/><polygon points="67.67 10.09 61.59 10.09 61.59 4.01 57.67 4.01 57.67 10.09 51.59 10.09 51.59 14 57.67 14 57.67 20.08 61.59 20.08 61.59 14 67.67 14 67.67 10.09"/><polyline points="88.06 13.9 94.14 13.9 94.14 9.98 88.06 9.98 84.14 9.98 78.06 9.98 78.06 13.9 84.14 13.9"/>
  </symbol>
</svg>
