<div class="NumberInput js_numberInput">
    <span class="NumberInput-btn js_remove">
        <svg class="Icon">
            <use xlink:href="#Minus" />
        </svg>
    </span>
    <input type="number" id="{{ numberId }}" name="{{ numberName }}" value="1" min="1" class="NumberInput-value js_value" autocomplete="off" />
    <span class="NumberInput-btn js_add">
        <svg class="Icon">
            <use xlink:href="#Plus" />
        </svg>
    </span>
</div>
