<div class="PaymentList">
    <svg class="Icon--payment Icon--paypal">
        <use xlink:href="#Paypal" />
    </svg>
    <svg class="Icon--payment Icon--advanced">
        <use xlink:href="#Advanced-payment" />
    </svg>
    <svg class="Icon--payment Icon--masterCard">
        <use xlink:href="#Master-card" />
    </svg>
    <svg class="Icon--payment Icon--visaCard">
        <use xlink:href="#Visa-card" />
    </svg>
</div>
