<div class="PaymentList">
    <svg class="Icon--payment Icon--paypal">
        <use xlink:href="#Paypal" />
    </svg>
    <svg class="Icon--payment Icon--amazon">
        <use xlink:href="#Amazon" />
    </svg>
    <svg class="Icon--payment Icon--skrill">
        <use xlink:href="#Skrill" />
    </svg>
    <svg class="Icon--payment Icon--advanced">
        <use xlink:href="#Advanced-payment" />
    </svg>
</div>
