{% comment %}

   There should be two types of shoping bag components:
   1. default
   2. tonedown

  Show number of items in the cart and total cost in the /cart link

  Ajax Cart Notes:
    - #cartCount updates the total number of items in the cart
    - #cartCost updates the total cost of the cart
    - Documentation:  http://shopify.com/timber#ajax-cart
{% endcomment %}
<a href="/cart" class="ShoppingBag js_cartCountComponent js-drawer-open-right {% if cart.item_count > 0 %} is-filled {% endif %} {% if shopping-bag == 'tonedown' %}ShoppingBag--tonedown{% endif %}" aria-controls="CartDrawer" aria-expanded="false">
    <svg class="ShoppingBag-icon">
        <use xlink:href="#Shopping_bag" />
        <text class="ShoppingBag-count" data-cart="counter" y="80%" x="55%">
             {% if cart.item_count > 0 %}
                {{ cart.item_count }}
             {% endif %}
         </text>
    </svg>
</a>
