.AccountNavigation {
    height: var(--nav-height);
    line-height: var(--nav-height);

    &-list {
        display: inline-block;
        margin-right: var(--base-spacing);
        font-size: 0;
        line-height: 0;
    }

    &-item {
        display: inline-block;
        color: var(--typo-hex--tone-down);
        font-size: var(--small-copy-size);
        line-height: 1.5;
        letter-spacing: 0.05rem;

        &:first-of-type {
            padding-right: var(--base-margin);
            border: solid currentColor;
            border-width: 0 1px 0 0;
        }

        &:last-of-type {
            padding-left: var(--base-margin);
        }
    }
}
