.AccountNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;

    &-list {
        display: none;
        margin: {
            top: 1rem;
            right: 1rem;
        }

        @include media (medium) {
            display: inline-block;
        }
    }

    &-item {
        display: inline-block;
        color: $typo-hex--tone-down;
        font-size: $copy-size-s;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.05rem;

        &:first-of-type {
            padding-right: $base-margin;
            border: solid currentColor;
            border-width: 0 1px 0 0;
        }

        &:last-of-type {
            padding-left: $base-margin;
        }
    }
}
