.Banner {
  &--main {
    .Banner-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
    }

    .Banner-media {
      display: block;
      position: relative;
      padding-top: 149.47%;
      width: 100vw;

      @include media(small) {
        padding-top: 133.33%;
      }

      @include media(medium) {
        padding-top: 56.25%;
      }
    }

    .Banner-content {
      z-index: 3;
      transform: translateX(-50%);

      @include media(medium) {
        transform: translateX(-50%) translateY(-25%);
      }
    }

    .Btn {
      position: absolute;
      bottom: 70px;
      left: 50%;
      z-index: 1;
      display: none;
      // margin: calc(var(--size-XL) * 1px);
      transform: translatex(-50%);
      outline-color: $hex-dark-asphalt;
      color: $hex-dark-asphalt;
      &:hover {
        outline-color: $hex-white;
      }

      @include media(medium) {
        display: block;
      }
    }
  }
}
