.Banner {
  &--main {
    @include media(medium) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        display: block;
        width: 36vw;
        height: 100%;
      }
      &::before {
        left: 0;
        z-index: 2;
        cursor: url('{{ "icon-left-arrow-home.png" | asset_url }}') 33 29, auto;
      }
      &::after {
        right: 0;
        z-index: 0;
        cursor: url('{{ "icon-right-arrow-home.png" | asset_url }}') 33 29, auto;
      }
    }

    .Banner-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
    }

    .Banner-media {
      display: block;
      position: relative;
      padding-top: 149.47%;
      width: 100vw;

      @include media(small) {
        padding-top: 133.33%;
      }

      @include media(medium) {
        padding-top: 56.25%;
      }
    }

    .Banner-content {
      z-index: 3;
      transform: translateX(-50%) translateY(-35%);
    }
  }
}

.Gradient {
  &-stop {
    &:nth-child(1) {
      stop-color: var(--hsla-yellow);
    }

    &:nth-child(2) {
      stop-color: var(--hsla-coral8);
    }
  }
}
