.Banner {
    overflow: hidden;
    line-height: 0;

    &-content {
        box-sizing: border-box;
        width: 100vw;
        text-align: center;
        line-height: 1.5;

        @include media(medium, max-width) {
            .Headline--1 {
                font-size: calc(var(--h1-size) / var(--typo-desktop-factor))
            }
        }

        @include media(small, max-width) {
            .Headline--1 {
                font-size: calc(var(--h1-size) / var(--typo-tablet-factor) / var(--typo-desktop-factor))
            }
        }
    }

    &--main {
        .Banner-image {
            width: 100vw;
            height: auto;
            transform: none;
        }

        @include media(small, max-width) {
            .Banner-image {
                width: auto;
                height: 100vh;
                transform: translateX(-15%);
            }
        }
    }

    &--teaser {

        .Banner-content {
            padding: var(--base-spacing);

            @include media (medium) {
                padding: calc(var(--base-spacing) * 2);
                max-width: var(--screen-xl);
            }
        }
    }

    &--oneThird {
        width: 100vw / 3 * 1;

        .Banner-image {
            width: 100%;
        }
    }

    &--twoThirds {
        width: 100vw / 3 * 2;

        .Banner-image {
            width: 100%;
        }
    }

    &--oneThird,
    &--twoThirds {
        @include media(small, max-width) {
            width: auto;
            height: 50vh;

            .Banner-image {
                width: auto;
                height: 50vh;
                transform: translateX(-15%);
            }
        }
    }

    &--half {
        //-- GRID GENERATOR
        //-- 1. Count column mobile first
        //-- 2. Factor column number for tablet & desktop
        //-- 3. Optional argument to define the inner padding
        @include grid-cell(1, 2, 0, small);

        .Banner-image {
            width: 50vw;
        }

        @include media(small, max-width) {
            .Banner-image {
                width: auto;
                height: 50vh;
                transform: translateX(-15%);
            }
        }
    }
}
