.Banner {
  &--content {
    .Banner-content {
      position: static;
      padding: 40px 40px;
      margin: 0 auto;
      transform: none;

      @include media(medium) {
        position: absolute;
        left: 0;
        max-width: 40%;
        padding: 90px 40px;
        transform: translateY(-50%);
        text-align: left;
      }
    }

    .Banner-image {
      width: 100%;
    }
  }
}
