.Banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  &-content {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100vw;
    padding: {
        right: 20px;
        left: 20px;
    }
    text-align: center;
    line-height: 1.5;
    transform: translateX(-50%) translateY(-50%);

    //-- Calculation based on the global headlines
    //-- that is why the calculation happens backwards
    @include media(medium, max-width) {
      .Headline--1 {
        font-size: $h1-size / $typo-desktop-factor;
      }
    }

    @include media(small, max-width) {
      .Headline--1 {
        font-size: $h1-size / $typo-tablet-factor / $typo-desktop-factor;
      }
    }
  }

  &-introText {
    display: block;
    font-size: $copy-size-m;
    line-height: 1.5;
    letter-spacing: .3rem;
    text-transform: uppercase;
  }

  &-lead {
    position: absolute;
    right: 50%;
    bottom: 2.6rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transform: translateX(50%);

    @include copy-text(
      $copy-size-s, $typo-hex--highlight, bold
    );

    .Icon {
      display: block;
      width: 20px;
      height: 20px;
      margin-bottom: 8px;
      fill: $typo-hex--highlight;
    }
  }

  .Headline {
    color: $typo-hex--banner-tertiary;
  }

  &-copy {
      margin-bottom: 40px;
      color: $typo-hex--banner-secondary;
      font-size: $copy-size-m;
      line-height: 1.5;
      font-weight: 100;
      letter-spacing: .1rem;
  }

  &--plain {
    .Banner-content {
      position: static;
      padding: 90px 40px;
      margin: 0 auto;
      color: $typo-hex--banner-secondary;
      transform: none;

      @include media (medium) {
        max-width: 70rem;
      }
    }

    .SocialList-item {
      width: 30px;
      fill: $typo-hex--banner-secondary;

      &:hover {
        fill: $link-hex-secondary-hover;
      }
    }
  }

  &--teaser {
    box-sizing: border-box;
    width: 100vw;

    .Banner-content {
      position: static;
      padding: 90px 40px;
      margin: 0 auto;
      color: $typo-hex--banner-secondary;
      transform: none;

      @include media (medium) {
        max-width: 70rem;
      }
    }

    .Icon--logo {
      display: block;
      width: 3rem;
      max-height: 3rem;
      margin: 0 auto 20px;
      fill: $banner-teaser-logo-icon;
    }

    .Banner-introText {
      margin-bottom: 20px;

      @include media(small, max-width) {
          font-size: 1.2rem;
      }
    }

    .Headline {
      line-height: 1.3;
      font-weight: 100;

      @include media(small, max-width) {
        font-size: $h2-size / $typo-tablet-factor;
      }
    }
  }


  &--principles {
    .Headline {
      font-weight: 100;
    }

    .Banner-content {
      @include media(small, max-width) {
        background-image: url(https://cdn.shopify.com/s/files/1/0742/2733/files/WDLK_Brand-Video-Poster.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .Headline,
        .Banner-copy {
          color: $hex-white
        }
      }
    }
  }

  &--full {
    @include media(large) {
      max-height: calc(100vh - #{$nav-height});
    }

    .Headline {
      line-height: 1.2;
    }

    .Banner-image {
      max-height: calc(100vh - #{$nav-height});

      @include media (medium) {
          width: 100vw;
      }

      @include media(large) {
          max-height: none;
      }
    }
  }

  &--informative {
    .Banner-content {
      position: relative;
      top: auto;
      left: auto;
      padding: 60px 40px 90px;
      margin: auto;
      transform: none;

      @include media (medium) {
        box-sizing: border-box;
        position: absolute;
        top: 6rem;
        left: 5rem;
        max-width: 320px;
        padding: {
          top: 3.5rem;
          right: 4rem;
          left: 4rem;
          bottom: 4rem;
        }
        overflow: hidden;
        background-color: $background-color;
      }
    }

    .Link {
      display: block;
      margin-bottom: 40px;
    }

    @media(max-width: $screen-xs) {
      .Banner-image {
        transform: translateX(-10%);
      }
    }
  }

  &--collection {
    &:last-of-type {
      .Banner-content {
        top: 80%;
        max-width: 350px;

          @include media (small, max-width) {
            bottom: 0;
          }

          @include media(medium) {
            top: 50%;
            right: 4rem;
            left: auto;
            transform: translateY(-50%);
          }
      }
    }
  }

  &--half {
    //-- GRID GENERATOR
    //-- 1. Count column mobile first
    //-- 2. Factor column number for tablet & desktop
    //-- 3. Optional argument to define the inner padding
    @include grid-cell(1, 2, 0, small);

    .Banner-image {
      width: 50vw;
    }

    .Headline {
      color: $typo-hex--tertiary;
    }

    @include media(small, max-width) {
      .Banner-image {
        width: auto;
        height: 50vh;
        transform: translateX(-15%);
      }
    }
  }

  &--oneThird {
    width: 100vw / 3 * 1;

    .Banner-image {
        width: 100%;
    }
  }

  &--twoThirds {
    width: 100vw / 3 * 2;

    .Banner-image {
        width: 100%;
    }
  }

  &--oneThird,
  &--twoThirds {
    @include media(small, max-width) {
      width: auto;
      height: 50vh;

      .Banner-image {
          width: auto;
          height: 50vh;
          transform: translateX(-15%);
      }
    }
  }
}

.HeadlineBanner {
  $h-stage-size          : 11.2rem;
  $h-stage-base-spacing  : 1.6rem;

  display: block;
  width: 100%;
  //-- Fixes the height in different browsers to the
  //-- lack of dominant-baseline: middle
  height: ($h-stage-size / 1.75) * 2 + 1;
  margin-bottom: $h-stage-base-spacing + 1;
  font-family: "museo300";
  font-size: $h-stage-size / 1.75;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1rem;
  text-transform: uppercase;
  pointer-events: none;

  &:not(:root) {
    overflow: visible;
  }

  &-text {
    text-anchor: middle;
    pointer-events: auto;
  }

  &-tspan {
    &:last-of-type {
      display: none;
    }
  }

  &-btn {
    opacity: 0;
    pointer-events: none;

    @include media(small) {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @include media(medium) {
    height: $h-stage-size / 1.333333333;
    margin-top: $h-stage-base-spacing;
    font-size: $h-stage-size / 1.333333333;
    letter-spacing: 1.6rem;

    &-text {
      dominant-baseline: middle;

      &:last-of-type {
          display: none;
      }
    }

    &-tspan {
      &:last-of-type {
          display: block;
      }
    }
  }

  @include media(large) {
    height: $h-stage-size;
    font-size: $h-stage-size;
  }
}
