.CookieNotification {
    display: none;
    position: fixed;
    bottom: $form-base-height / 2;
    left: $base-spacing;
    z-index: 10;
    height: $form-base-height;
    padding: 0 $box-base-padding * 2 0 $box-base-padding;
    line-height: $form-base-height;
    background-color: $rgba-blue-gray-light;

    @include copy-text(
        $copy-size-m,
        $typo-hex--tertiary
    );

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: $box-base-padding;
        background: $rgba-blue-gray-dark;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }

    &-link {
        color: $typo-hex--tertiary;
        font-weight: 600;
        text-decoration: underline;
    }
}
