.CookieNotification {

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: calc(var(--size-M) * 1px) calc(var(--size-L) * 1px);
    background-color: $hex-white-smoke;
    background-color: var(--rgba-white-smoke);
    transform: translate3d(0, calc(var(--visibility, 100) * 1%), 0);
    transition: transform .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    @include copy-text(1.6rem, $hex-blue-gray-ultra-dark);

    &-content {
      display: flex;
      align-items: center;
      max-width: 60%;
      @include media(medium) {
        max-width: 80%;
      }
    }

    &-copy {
      margin: 0;
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: $box-base-padding;
        background: $rgba-blue-gray-dark;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }

    &-link {
      color: $hex-blue-gray-ultra-dark;
      text-decoration: underline;
    }

    .Btn {
      font-size: 1.6rem;
      line-height: normal;
    }
}
