.Banner--expander {
  @include media(large) {
    min-height: 100vh;
  }
}
.Expander {
  --is-collapsed: 1;
  cursor: pointer;
}

@include media(large) {
  .Expander {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    z-index:
      calc(
        1 * var(--is-collapsed) +
        2 * (1 - var(--is-collapsed))
      );
    transform: translate3d(-50%, 0, 0);
    transform-origin: top;
    pointer-events: auto;

    &:first-of-type {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
    &:last-of-type {
      right: 0;
    }
  }
}
.Expander-media {
  transform: translate3d(0, 0 ,0);
  transition: unset;
  width: 100%;
  height: auto;

  &:not(:nth-of-type(1)) {
    display: none;
  }
}
.Expander.is-collapsed {
  .Expander-media {
    transition-delay: 200ms;
    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
  }
  &:nth-of-type(1) {
    .Expander-media {
      transform: translate3d(0, -45%, 0);
    }
  }
  &:nth-of-type(2) {
    .Expander-media {
      transform: translate3d(0, -55%, 0);
    }
  }
  &:nth-of-type(3) {
    .Expander-media {
      transform: translate3d(0, 0, 0);
    }
  }
}
@media (min-width: 768px) {
  .Expander {
    .Expander-media {
      display: none;
      transform: translate3d(0, 0, 0);
      &:nth-of-type(2) {
        display: block;
      }
    }
  }
  .Expander.is-collapsed {
    &:nth-of-type(n) {
      .Expander-media {
        transform: none;
      }
    }
  }
}
@include media(large) {
  .Expander {
    &:nth-of-type(n) {
      clip: rect(auto auto auto auto);
      clip-path: inset(0 0 0 0);

      transition: clip-path 333ms ease-in-out;
    }
    .Expander-media {
      display: none;
      width: 100%;
      transition: x 333ms linear;

      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        display: block;
      }
    }
  }
  .Expander.is-collapsed {
    transition: clip-path 333ms ease-in-out, z-index 1ms 333ms;
    .Expander-media {
      transform: none;
      transition: x 333ms linear;
    }
    &:nth-of-type(1) {
      clip: rect(auto 66vw auto auto);
      clip-path: inset(0 66vw 0 0);
      .Expander-media {
        x: -35%;
      }
      .Expander-headline {
        transform: translate3d(-33%, 15%, 0);
      }
    }
    &:nth-of-type(2) {
      clip-path: inset(0 33vw 0 33vw);
    }
    &:nth-of-type(3) {
      clip: rect(auto auto auto 66vw);
      clip-path: inset(0 0 0 66vw);
      .Expander-media {
        x: 30%;
      }
      .Expander-headline {
        transform: translate3d(33%, 15%, 0);
      }
    }
  }
}
.Expander-content {
  padding: calc(var(--size-L) * 1px);
  opacity: calc(0 * var(--is-collapsed) + 1 * (1 - var(--is-collapsed)));
  fill: $hex-blue-gray-dark;
  transform: translate3d(0,
    calc(
      100% * var(--is-collapsed) +
      65% * (1 -var(--is-collapsed))
    ), 0);
  transition: transform 500ms 250ms linear, opacity 250ms 250ms linear;
  font-size: $copy-size-m;

  @include media(large) {
    transform: translate3d(15px, 60px, 0);
    font-size: $copy-size-s;
  }
}

.Expander-headline {
  text-anchor: middle;
  opacity: calc(1 * var(--is-collapsed) + 0 * (1 - var(--is-collapsed)));
  transition: opacity 333ms ease-in-out;
}
