.Banner--expander {
  @include media(large) {
    min-height: 100vh;
  }
}

@include media(large) {
  .Expander {
    --is-collapsed: 1;
    pointer-events: none;
    &-media {
      position: absolute;
      top: 0;
      z-index: calc(1 * var(--is-collapsed) + 2 * (1 - var(--is-collapsed)));
      transform: scale(calc(
        0.3 * var(--is-collapsed) +
        1 * (1 - var(--is-collapsed))
      )) translate3d(0, 0, 0);
      transform-origin: top;
      pointer-events: auto;
    }

    &:first-of-type {
      .Expander-media {
        left: 0;
        transform: scale(calc(
          0.3 * var(--is-collapsed) +
          1 * (1 - var(--is-collapsed))
          )) translate3d(calc(-100 * var(--is-collapsed) * 1%), 0, 0);
      }
    }
    &:last-of-type {
      .Expander-media {
        right: 0;
        transform: scale(calc(
          0.3 * var(--is-collapsed) +
          1 * (1 - var(--is-collapsed))
        )) translate3d(calc(100 * var(--is-collapsed) * 1%), 0, 0);
      }
    }
  }
}

.Expander {
  &-img {
    &:not(:nth-of-type(1)) {
      display: none;
    }
    @include media(medium) {
      display: none;
      &:nth-of-type(2) {
        display: block;
      }
    }
    @include media(large) {
      display: none;
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        display: block;
      }
    }
  }
}
