:root {
	--insta-base-spacing: 3px;
}

.Feed {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0;
	margin: 0;
	list-style: none;

	&-item {
		width: calc((100vw / 3) - 2px);
		height: calc((100vw / 3) - 2px);
		margin-bottom: var(--insta-base-spacing);

		&:nth-child(3n+2) {
			margin: {
				right: var(--insta-base-spacing);
				left: var(--insta-base-spacing);
			};
		}

		&:nth-last-child(-n+3) {
			margin-bottom: 0;
		};

		@include media (medium) {
            width: calc((100vw / 4) - .225rem);
			height: calc((100vw / 4) - .225rem);
			margin-left: var(--insta-base-spacing);

			&:nth-child(3n+2) {
				margin-right: 0;
			}

			&:nth-child(-4n+9) {
				margin-left: 0;
			}

			&:nth-last-child(-n+4) {
				margin-bottom: 0;
			};
        }

        @include media (large) {
            width: calc((100vw / 6) - .25rem);
			height: calc((100vw / 6) - .25rem);
			margin: {
				right: 0;
				left: var(--insta-base-spacing);
			}

			&:nth-child(-4n+9) {
				margin-left: var(--insta-base-spacing);
			}

			&:nth-child(-6n+7) {
				margin-left: 0;
			}

			&:nth-last-child(-n+6) {
				margin-bottom: 0;
			};
        }
	}

	&-img {
		position: relative;
		z-index: -1;
		display: block;
		width: 100%;
	}

	//-- Radio trigger for the lightbox
	&-trigger {
		position: relative;
		z-index: 1;
		display: block;
		width: 100%;
		height: 100%;
		margin-bottom: -100%;
		cursor: pointer;
	}

	&-caption {
		display: block;
		min-height: 29vh;
		padding: 1.6rem var(--base-spacing) var(--base-spacing);
		font-size: 0;

		@include media(medium) {
			max-height: calc(90vw - 35vw);
			overflow: auto;
		}
	}

	&-copy {
		margin-top: 0;
		letter-spacing: 1px;
		font-size: var(--md-copy-size);
	}

	&-highlight {
		font-size: var(--md-copy-size);
		&:nth-child(1),
		&:nth-child(2) {
			display: inline-block;
			width: 50%;
			margin-bottom: var(--base-spacing);
			vertical-align: top;
		}

		&:nth-child(2) {
			text-align: right;
		}
	}

	.Lightbox-content {
		.Feed-img {
			border: {
				top: 1px solid var(--hex-blue-gray-lightest);
				bottom: 1px solid var(--hex-blue-gray-lightest);
			}

			@include media(medium) {
				border: none;
			}
		}

		.Headline {
			text-align: left;
			margin-left: var(--base-spacing);
		}
	}

	.Lightbox-header {
		border: none;
	}

}
