:root {
    --label-spacing: .5rem;
}

.Form {
    max-width: var(--screen-md);
    margin: {
        right: auto;
        left: auto;
        bottom: calc(var(--base-spacing) * 2)
    }

    @include media(medium) {
        text-align: right;
    }

    .Link {
        margin-right: var(--base-spacing);
        text-transform: uppercase;
        text-align: center;
    }

    .Btn,
    .Link {
        margin-bottom: calc(var(--base-spacing) * 2);

        @include media(medium) {
            text-align: right;
        }
    }

    &-headline {
        margin-bottom: var(--base-spacing);
    }

    &-layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        box-sizing: border-box;
        width: 100%;
        height: 80vh;
        padding: {
            right: var(--base-spacing);
            left: var(--base-spacing);
        }
        opacity: 0;
        background-color: $form-layer-hex-bg;
        pointer-events: none;
        transition: opacity .5s ease;

        @include media(medium) {
            padding: {
                right: calc(var(--base-spacing) * 2);
                left: calc(var(--base-spacing) * 2);
            }
        }
    }

    &-copy {
        margin-bottom: calc(var(--base-spacing) * 3);
        text-align: center;
    }

    &-state {
        display: none;

        &:checked {
            ~ .Form-layer {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &--secondary {
        text-align: center;

    }
 }

.Form-inputWrapper {
    margin-bottom: var(--base-spacing);
    text-align: left;

    @include media(medium) {
        display: flex;
        justify-content: space-between;
    }

    &:last-of-type {
        margin-bottom: 6rem;
    }
}

.Form-label {
    display: block;
    margin-bottom: var(--label-spacing);
    line-height: $form-base-height;

    @include media(medium) {
        flex-basis: 20%;
    }
}

.Form-input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--hex-blue-gray-lightest);

    @include media(medium) {
        flex-basis: 70%;
    }
}
