:root {
    --transition-speed: .35s;
    --transition-speed-double: .70s;
}

.Lightbox {
    &-shim {
        position: fixed;
        top: 0;
        left: -200vw;
        width: 100%;
        height: 100%;
        padding: {
            top: 5vh;
        }

        background: rgba(0, 0, 0, 0);
        transition: background var(--transition-speed) var(--transition-speed) ease-in-out, left 0s var(--transition-speed-double) ease-in-out;
    }

    &-state:checked  {
        ~ .Lightbox-shim {
            left: 0;
            background: rgba(0, 0, 0, .6);
            transition: background var(--transition-speed) ease-in-out;
        }
    }

    &-shim-close {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
    }

    &-content {
        width: 90vw;
        max-width: var(--screen-l);
        margin: 0 auto;
        transform: translate3d(-30%, 0, 0);
        backface-visibility: hidden;
    }


}
