:root {
    --transition-speed: .30s;
    --transition-speed-double: .70s;
    --position-percentage-factor: 3vh;
    --timing: cubic-bezier(0.895, 0.030, 0.685, 0.220);
    --lightbox-base-spacing: 3rem;
    --container-height: 6rem;
}

.Lightbox {
    &-shim {
        position: fixed;
        top: 0;
        left: -0;
        width: 100%;
        height: 100%;
        padding: {
            top: 5vh;
        }
        transform: translateX(-200vw);
        background: rgba(0, 0, 0, 0);
        transition: background var(--transition-speed) var(--transition-speed) ease-in-out, left 0s var(--transition-speed-double) ease-in-out;
    }

    &-state {
        display: none;

        &:checked  {
            ~ .Lightbox-shim {

                z-index: 10;
                transform: none;
                background: rgba(0, 0, 0, .6);
                transition: background var(--transition-speed) ease-in-out;

                .Lightbox-content {
                    z-index: 1;
                    opacity: 1;
                    transform: translate3d(0, var(--position-percentage-factor), 0);
                }
            }
        }
    }

    &-shim-close {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
    }

    &-content {
        position: absolute;
        top: var(--nav-height);
        left: 0;
        right: 0;
        z-index: -1;
        width: 90vw;
        max-width: var(--screen-l);
        margin: 0 auto;
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        transition: transform var(--transition-speed) var(--timing), opacity var(--transition-speed) ease-out;
        backface-visibility: hidden;
    }

    &-link {
        position: absolute;
        top: 50%;
        right: 3rem;
        transform: translateY(-50%);
    }

    &-header {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: var(--container-height);
        border: 1px solid var(--container-border);
        text-align: center;
        background-color: var(--background-color);

        .Headline {
            margin: 0;
            line-height: var(--container-height);
            text-transform: uppercase;
        }
    }

    &-body {
        box-sizing: border-box;
        padding: var(--lightbox-base-spacing);
        border: solid var(--container-border);
        border-width: 0 1px 1px;
        background-color: var(--background-color-tertiary);
    }
}
