.LinkList {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 7.5rem;

    &-item {
        margin-bottom: 1rem;
    }

    &-link {
        color: $link-list-hex-color;
        font-family: "museo_sans500";
        font-size: var(--md-copy-size);
        text-transform: uppercase;
        letter-spacing: .1rem;
        transition: color .5s ease;

        &:hover {
            color: $link-list-hex-hover-color;
        }

        &.is-active {
            color: $link-hex-hover-color;
        }
    }

    &--secondary {
        @include media(medium) {
            margin-bottom: 0;

            .LinkList-item {
                display: inline-block;
                border-right: 1px solid $link-hex-secondary-color;
                padding: {
                    right: var(--base-spacing);
                    left: var(--base-spacing);
                }
                margin-bottom: 0;
                line-height: .8;
                vertical-align: bottom;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }

        .LinkList-link {
            font-size: var(--small-copy-size);
            color: $link-hex-secondary-color;

            &:hover {
                color: $link-hex-secondary-hover;
            }
        }

    }
}
