.MediaModule {
    margin-top: $base-spacing * 3;
    font-size: 0;
    line-height: 0;
    text-align: center;

    .MediaModule-content,
    .MediaModule-img {
        box-sizing: border-box;
        display: block;
        width: 100%;
        font-size: $copy-size;
        line-height: 1.5;

        @include media(medium) {
            display: inline-block;
            width: 50%;
            vertical-align: top;
        }
    }

    .MediaModule-img {
        margin-bottom: $base-spacing * 3;
    }

    .MediaModule-content {
        padding: {
            right: 2rem;
            left: 2rem;
        }
        text-align: left;
    }

    .Table {
            max-width: 650px;
        }
    .Table-cell,
    .Table-headcell {
        width: 20%;
    }
}
