.Navigation {
  position: absolute;
  top: $nav-height;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: calc(100vh - #{$nav-height});
  font-size: 0;
  line-height: 0;
  text-align: center;
  opacity: 0;
  background-color: $navi-mobile-bg-color;
  pointer-events: none;
  transition: opacity .5s ease;

  @include media (medium) {
    position: static;
    flex-grow: 2;
    width: auto;
    height: 100%;
    opacity: 1;
    text-align: center;
    background-color: transparent;
    pointer-events: auto;
  }

  //-- Mobile Navigation Trigger
  &-state {
    display: none;

    &:checked {
      ~ .Navigation {
        opacity: 1;
        pointer-events: auto;

        .Navigation-list {
          transform: none;
        }
      }
    }
  }
}

.Navigation {
  &-list {
    height: 100%;
    padding-left: 0;
    margin: 40px auto 0;
    list-style: none;
    transform: scale(.85);
    transition: transform .3s ease;

    @include media (medium) {
      margin-top: 0;
      transform: none;

      > .Navigation-item  {
        padding: 3.2rem 2rem 2.5rem;
      }
    }
  }

  &-item {
    padding-bottom: #{$size-M}px;
    display: block;
    padding: #{$size-L}px #{$size-L}px #{$size-M}px;

    &:last-child {
      opacity: 1;
      pointer-events: all;
    }

    @include media (medium) {
      display: inline-block;

      > .Navigation-link {
        @include create-pointer(1.5rem, $navi-bg-color) {
          position: absolute;
          bottom: -3.2rem;
          right: 50%;
          border: solid $nav-border-color;
          border-width: 1px 0px 0px 1px ;
          opacity: 0;
          transform: translateX(50%) rotate(45deg);
        }
      }

      &:hover {
        .Navigation-dropdown {
          opacity: 1;
          visibility: visible;
          pointer-events: initial;
        }

        .Navigation-item {
          opacity: 1;
          transform: none;
        }

        &.has-dropdown{
          > .Navigation-link {
            &::before {
              opacity: 1;
            }
          }
        }
      }

      &.has-dropdown{
        > .Navigation-link {
          &::before {
            content: "";
            opacity: 0;
            transition: opacity .8s ease;
          }
        }
      }

      &--mobile {
        display: none;
      }
    }
  }
}

.Navigation {
  &-link {
    position: relative;
    display: inline-block;
    width: auto;
    color: currentColor;
    font-size: $h5-size;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .05rem;

    &:hover {
      color: $hex-blue-gray-dark;
    }

    @include media (medium) {
      display: inline-block;
      vertical-align: middle;
      @include copy-text($copy-size-m, currentColor);
    }

    &::after {
      content: "";
      display: block;
      height: .1rem;
      width: 100%;
      margin-top: 2px;
      background-color: $typo-hex;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: transform .8s $border-timing;
    }

    &:hover {
      color: currentColor;

      &::after {
        transform: none;
      }
    }

    &.is-active  {
      &::after {
        transform: none;
      }
    }
  }
}

.Navigation {
  &-dropdown {
    position: absolute;
    top: $nav-height-medium + .3;
    left: 50%;
    width: calc(100vw - #{$size-XXL * 2px});
    max-width: 100vw;
    padding: 0 #{$size-XXL}px;
    border-bottom: 1px solid $nav-border-color;
    margin-top: -2px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    text-align: center;
    background: $navi-bg-color;
    transform: translateX(-50%);
    transition: opacity .8s ease;

    .Navigation-item {
      display: block;
      opacity: 0;
      transform: translate3d(0, -25%, 0);
      transition: transform .4s ease-out, opacity .1s ease-in;

      @include media (medium) {
        display: inline-block;
        &:last-child {
          position: absolute;
          right: 0;
          opacity: 0;
          pointer-events: none;
        }
      }

      .Navigation-link {
        color: $typo-hex;
      }
    }
  }
}

.Navigation-item--mobile {
  padding-bottom: calc(var(--size-XS) * 1px);

  .Navigation-link {
    font-size: $copy-size;
    text-transform: lowercase;
  }

  &:nth-last-child(5) {
    margin-top: calc(var(--size-XXL) * 1px);
  }
}

.Navigation {
  .SocialList {
    position: absolute;
    right: 0;
    bottom: calc(var(--size-3XL) * 1px);
    left: 0;
    margin: auto;
  }
  @include media(medium) {
    .SocialList-item {
      width: calc(var(--size-M) * 1px);
      fill: $typo-hex--banner-secondary;

      &:hover {
        fill: $link-hex-secondary-hover;
      }
    }
  }
}
//-- Header is-undocked
.is-undocked {
  @include media (medium) {
    .Navigation-dropdown {
      .Navigation-item {
        padding: #{$size-L}px #{$size-L}px #{$size-M}px;
      }
    }
  }
}

