:root {
	--notification-upper-spacing: 1.6rem;
}

.Notification {
	@include grid-wrapper(undefined, center);
	position: relative;
	z-index: 6;
	max-height: 0;
	overflow: hidden;
	text-align: center;
	color: var(--typo-hex--tertiary);
	background-color: var(--background-color-contrast);
	transform: translate3d(0, 0, 0);
	perspective: 1000;
	transition: max-height var(--transition-speed) ease-in-out;

	&.is-active {
		max-height: 12vh;
	}

	&-state {
		display: none;

		&:checked {
			~ .Notification {
				max-height: 0;
			}
		}
	}

	&-copy {
		font-family: 'quattrocento';
		padding: var(--notification-upper-spacing) var(--base-spacing) calc(var(--notification-upper-spacing) / 2);
	}

	&-link {
		position: absolute;
		top: var(--notification-upper-spacing);
		right: var(--notification-upper-spacing);
		width: calc(var(--base-spacing) * 1.5);
		height: calc(var(--base-spacing) * 1.5);
		font-size: var(--disable-icons);
		line-height: .5;
		text-align: right;
		cursor: pointer;
	}

}
