.PaymentList {
  padding: {
      top: $base-spacing;
      bottom: $base-spacing / 2;
  }
  border: solid $container-border;
  border-width: 1px 0;
  margin-bottom: $base-spacing * 2;
  text-align: center;

  .Icon {
    max-height: 4rem;
    margin-right: 3rem;

    &:last-of-type {
        margin-right: 0;
    }
  }

  .Icon--paypal {
      width: 8rem;
  }

  .Icon--advanced {
      width: 6rem;
  }

  .Icon--amazon {
      width: 12rem;
  }

  .Icon--skrill {
      width: 5rem;
  }

  .Icon--sofort {
    width: 8rem;
  }
}
