:root {
    --hex-product-filter-bg: var(--hex-beige-secondary);
}
.ProductFilter {
    display: block;
    padding: calc(var(--base-spacing) + .2) var(--base-spacing) calc(var(--base-spacing) + .1);
    margin: calc(var(--nav-height) + 6rem) var(--base-spacing) 40px;
    text-align: center;
    overflow: hidden;
    background-color: var(--hex-product-filter-bg);
    list-style: none;

    @include media (medium) {
        margin: {
            right: calc(var(--base-spacing) * 2);
            left: calc(var(--base-spacing) * 2);
        }
    }

    &-item {
        display: inline-block;
        margin-right: 3.6rem;

        &:last-child {
            margin-right: 0;
        }
        
        &.is-active {
            .Link {
                color: var(--typo-hex);
                cursor: auto;

                &:hover {
                    color: var(--typo-hex);
                }
            }
        }
    }

}
