:root {
    --product-base-spacing: 4rem;
}

.ProductItem {
    width: 100%;
    margin-bottom: var(--product-base-spacing);
    overflow: hidden;

    @include media (small) {
        width: calc(50vw - (var(--product-base-spacing) / 1.25 ));

        &:nth-child(odd) {
            margin-right: var(--base-spacing);
        }
    }

    @include media (medium) {
        width: calc(100vw / 3 - var(--product-base-spacing));

        &:nth-child(odd) {
            margin-right: 0;
        }

        &:nth-child(3n-4) {
            margin: {
                right: var(--base-spacing);
                left: var(--base-spacing);
            }
        }
    }

    @include media (xlarge) {
        width: calc(100vw / 4  - var(--product-base-spacing));
        margin-right: var(--base-spacing);

        &:nth-child(odd) {
            margin-right: var(--base-spacing);
        }

        &:nth-child(3n-4) {
            margin: {
                left: 0;
            }
        }

        &:nth-child(4n) {
            margin-right: 0;
        }


    }

    &-stage {
        display: block;
        width: 100%;
        margin-bottom: 1.8rem;
    }

    &-img {
        width: 100%;
    }

    &-caption {
        display: flex;
        justify-content: space-between;
        font-family: "museo";
        font-weight: bold;
        letter-spacing: 1px;
    }

    &-title,
    &-price {
        font-size: var(--md-copy-size);
        color: var(--typo-hex);

    }

    &-title {
        position: relative;
        padding-bottom: 16px;
        margin: {
            top: 0;
            right: var(--base-spacing);
            bottom: 0;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 25px;
            height: 1px;
            background-color: var(--typo-hex--lightest);
        }
    }
}
