.Slider {
  --slider-slides: 3;

  width: 100vw;
  overflow: hidden;
  color: $hex-white-smoke;
  font-size: 0;
}

.Slider-track {
  display: flex;
  flex-direction: row;
  width: calc(var(--slider-slides) * 100vw);
  transform: translate3d(calc(var(--moveX, 0) * 1px), 0, 0);
  transition: var(--transition, none);
  // transition-property: var(--transition-prop);
  // transition-duration: 500ms;
  // transition-timing-function: linear;
}

.Slider-content {
  position: absolute;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 #{$size-M}px;
  transform: translateY(80%);
  font-size: 1.4rem;

  @media(min-width: 768px) {
    left: 50%;
    width: max-content;
    transform: translate(-50%, 80%);
    font-size: 1.6rem;
  }
}

.Slider-item:nth-of-type(2) .Slider-content{
  align-items: flex-start;
}

.Slider-item {
  position: relative;
  width: 100vw;
}

.Slider-media {
  width: 100%;
}

.Slider .Headline {
  margin: 0;
}

.Slider .Btn {
  margin-top: #{$size-L}px;
}

.Slider .Icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-bottom: -2px;
}
