.Slider {
  position: relative;
  width: 100vw;
  overflow: hidden;
  color: $hex-white-smoke;
  font-size: 0;
}

.Slider-track {
  display: flex;
  flex-direction: row;
  width: calc(var(--items, 5) * 100vw);
  transform: translate3d(calc(var(--moveX, 0) * 1px), 0, 0);
  transition: var(--transition, none);
}

.Slider-content {
  position: absolute;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 #{$size-M}px;
  transform: translateY(80%);
  font-size: 1.4rem;

  @media(min-width: 768px) {
    left: 50%;
    width: max-content;
    transform: translate(-50%, 80%);
    font-size: 1.6rem;
  }
}

.Slider-item:nth-of-type(3) .Slider-content{
  align-items: flex-start;
}

.Slider-item {
  position: relative;
  width: 100vw;
}

.Slider-media {
  width: 100%;
  height: calc(100vh - #{$nav-height});
  object-fit: cover;
  @include media(large) {
    height: calc(100vh - #{$nav-height-medium});
  }
}

.Slider .Headline {
  margin: 0;
  pointer-events: none;
}

.Slider .Btn {
  margin-top: #{$size-L}px;
}

.Slider .Icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-bottom: -2px;
}

.Slider-btn {
  position: absolute;
  top: 0;
  width: 10vw;
  height: 100%;
  max-width: 500px;
  z-index: 2;
  padding: 0;
  border: none;
  outline: none;
  pointer-events: none;
  background-color: transparent;
  @include media(medium) {
    width: 30vw;
  }
  @include media(large) {
    display: block;
    pointer-events: all;
    cursor: pointer;
  }
}

.Slider .Slider-btn:nth-of-type(1) {
  left: 0;
}

.Slider .Slider-btn:nth-of-type(2) {
  right: 0;
}

.Slider-btn .Icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  color: $hex-white-smoke;
  pointer-events: all;
  @include media(medium) {
    width: 1.8rem;
    height: 1.8rem;
  }
  @include media (large) {
    display: none;
    pointer-events: none;
  }
}

.Slider-pointer {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  color: $hex-white-smoke;

  @include media(large) {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(var(--size-3XL) * 1px);
    height: calc(var(--size-3XL) * 1px);
    border-radius: 50%;
    opacity: var(--active, 0);
    background-color: $hex-coral;
    transform: scale(var(--active, .2))
    translate3d(
      calc(var(--x, 0) * 1px),
      calc(var(--y, 0) * 1px),
      0
    );
    transition: opacity 400ms ease-in-out, transform 100ms linear;
  }
}

.Slider-navigation {
  position: absolute;
  bottom: calc(var(--size-3XL) * 1px);
  left: 0;
  right: 0;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  @include media(large) {
    display: flex;
  }
}

.Slider-dot {
  width: calc(var(--size-M) * 1px);
  height: calc(var(--size-M) * 1px);
  border-radius: 50%;
  border: 2px solid $hex-off-white;
  margin: calc(var(--size-S) * 1px);
  background-color: rgba(240, 246, 246, var(--active));
  transform: scale(calc(
    1 * var(--active) +
    0.72 * (1 - var(--active))
  ));
  transition: transform 333ms ease-in-out, background 333ms ease;
  cursor: pointer;
  &:hover {
    transform: scale(1);
  }
}
