.Table {
    width: 100%;
    border-collapse: collapse;
    margin: {
        top: $base-spacing;
        bottom: $base-spacing * 2;
    }
    text-align: center;

    @include media(medium) {
        &:first-child {
            margin-top: 0;
        }
    }

    &-headcell,
    &-cell {
        padding: {
            top: 1.5rem;
            bottom: 1.5rem;
        }
        border-bottom: 1px solid;

        &:first-child {
            text-align: left;
            @include media(large) {
                text-align: center;
            }
        }
    }

    &-headcell {
        border-bottom-color: $hex-blue-gray-light;
        text-transform: uppercase;
    }

    &-cell {
        border-bottom-color: $hex-blue-gray-lightest;
    }
}
