.Teaser {
  display: block;
  padding: 0 calc(var(--size-3XL) * 1px);
}

.Teaser-media {
  width: 100%;
  height: auto;
}

.Teaser .Headline {
  text-align: center;
  color: $typo-hex--secondary;
}

.Teaser .Btn {
  position: absolute;
  right: 50%;
  bottom: calc(var(--size-3XL) * 1px);
  z-index: 5;
  padding: 0 3.2rem;
  transform: translateX(50%);
}