.TeaserGroup {
  --is-animating: 1;
  --duration: 10000;
  --delay: var(--duration);
  --opacity: var(--is-animating);

  position: relative;
  width: 100vw;
  height: calc(100vw * 1.5); //-- 1.5 being the current aspect ratio
}

.TeaserGroup .Teaser {
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--opacity);
  animation-name: teaserGroup;
  animation-duration: calc(var(--duration) * 1ms);
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, start);
}

.TeaserGroup .Teaser:nth-of-type(2) {
  opacity: 0;
  animation-delay: calc(((var(--duration) * 66.6) / 100) * -1ms);
}

.TeaserGroup .Teaser:nth-of-type(3) {
  animation-delay: calc(((var(--duration) * 33.3) / 100) * -1ms);
  opacity: 0;
}

@keyframes teaserGroup {
  0%, 100% {
    opacity: 1;
  }

  33%, 66% {
    opacity: 0;
  }
}
