.TextBlock {
  display: block;
  max-width: $text-block-max-width;
  vertical-align: middle;

  @include media (small) {
    display: inline-block;
  }

  &-pageHeadline {
    margin-bottom: $base-spacing * 3;
  }

  .Headline {
    @include media (small, max-width) {
      &--1 {
          font-size: 4.2rem;
      }
    }
  }

  &-block {
    margin-bottom: $base-spacing * 6;

    .Headline {
        &:first-of-type {
          margin-bottom: 30px;
        }


        & ~ .Headline {
          margin-bottom: $base-spacing;
        }
    }

    .Paragraph {
      margin-bottom: $base-spacing;
    }
  }

  &--secondary {
    text-align: left;
  }
}
