//-- Bourbon Font Face Mixin
@import "./node_modules/bourbon/app/assets/stylesheets/settings/_asset-pipeline";
@import "./node_modules/bourbon/app/assets/stylesheets/css3/_font-face";

@include font-face("museo-sans", "/assets/MuseoSans_300-webfont", 300);
@include font-face("museo-sans", "/assets/MuseoSans_300-webfont", 300);
@include font-face("museo-sans-bold", "/assets/montserrat-light-webfont");
@include font-face("lombok", "/assets/lombok-webfont");

html {
    font-family: "museo-sans", sans-serif;
    font-size: 62.5%; // Equivalent to 10px
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --copy-size: 1.6rem;
}

.CopyText {
    font-size: var(--copy-size);
}
