//-- Font sizes tablets and desktops
:root {
    --h-banner-size: 13rem;
    --h-banner-secondary-size: 7.8rem;
    --h1-size: 4.4rem;
    --h2-size: 3.6rem;
    --h3-size: 2.6rem;
    --h4-size: 1.8rem;

}

.HeadlineBanner {
    font-size: var(--h-banner-size);
}

.HeadlineBanner-secondary {
    font-size: var(--h-banner-secondary-size);
}

.Headline-1 {
    font-size: var(--h1-size);
}

.Headline-2 {
    font-size: var(--h2-size);
}

.Headline-3 {
    font-size: var(--h3-size);
}

.Headline-4 {
    font-size: var(--h3-size);
}
