<section class="Slider js_slider">
  {% assign srcSet1 = 'WDLK_Expander_Mobile_1@1x.jpg' | asset_url %}
  {% assign srcSet1@2x = 'WDLK_Expander_Mobile_1@2x.jpg' | asset_url %}
  {% assign srcSet2 = 'WDLK_Expander_Tablet_1@1x.jpg' | asset_url %}
  {% assign srcSet2@2x = 'WDLK_Expander_Tablet_1@2x.jpg' | asset_url %}
  {% assign srcSet3 = 'WDLK_Expander_Desktop_1@1x.jpg' | asset_url %}
  {% assign srcSet3@2x = 'WDLK_Expander_Desktop_1@2x.jpg' | asset_url %}
  {% include 'slider-item'%}
  {% assign srcSet1 = 'WDLK_Expander_Mobile_2@1x.jpg' | asset_url %}
  {% assign srcSet1@2x = 'WDLK_Expander_Mobile_2@2x.jpg' | asset_url %}
  {% assign srcSet2 = 'WDLK_Expander_Tablet_2@1x.jpg' | asset_url %}
  {% assign srcSet2@2x = 'WDLK_Expander_Tablet_2@2x.jpg' | asset_url %}
  {% assign srcSet3 = 'WDLK_Expander_Desktop_2@1x.jpg' | asset_url %}
  {% assign srcSet3@2x = 'WDLK_Expander_Desktop_2@2x.jpg' | asset_url %}
  {% include 'slider-item'%}
</section>
{% include 'banner-teaser' %}
{% include 'banner-teaser-category' %}
{% include 'banner-principles' %}
{% include 'banner-collection' %}
{% include 'instagram-feed' %}

