<section class="Slider js_slider">
  <button class="Slider-btn js_slider-btn" tabindex="0">
    <span class="Slider-pointer">
      {{ 'home_page.sections.main_prev' | t }}
    </span>
    <svg class="Icon Icon--left">
      <use xlink:href="#Arrow_left" />
    </svg>
  </button>
  <div class="Slider-track js_track">

    {% comment %} {% assign headline = 'home_page.sections.main_headline_0' | t %}
    {% assign caption = 'home_page.sections.main_caption_0' | t %}
    {% assign link = collections['bikinis'].url %}

    {% assign srcSet1 = 'WDLK_Main-Banner_Mobile_restock_steph.jpg' | asset_url %}
    {% assign srcSet1@2x = 'WDLK_Main-Banner_Mobile_restock_steph@2x.jpg' | asset_url %}
    {% assign srcSet2 = 'WDLK_Main-Banner_Tablet_restock_steph.jpg' | asset_url %}
    {% assign srcSet2@2x = 'WDLK_Main-Banner_Tablet_restock_steph@2x.jpg' | asset_url %}
    {% assign srcSet3 = 'WDLK_Main-Banner_Desktop_restock_steph.jpg' | asset_url %}
    {% assign srcSet3@2x = 'WDLK_Main-Banner_Desktop_restock_steph@2x.jpg' | asset_url %}
    {% include 'slider-item'%} {% endcomment %}

    {% assign headline = 'home_page.sections.main_headline_1' | t %}
    {% assign caption = 'home_page.sections.main_caption_1' | t %}
    {% assign link = collections['bikinis'].url %}

    {% assign srcSet1 = 'WDLK_Main-Banner_Mobile_1_steph.jpg' | asset_url %}
    {% assign srcSet1@2x = 'WDLK_Main-Banner_Mobile_1_steph@2x.jpg' | asset_url %}
    {% assign srcSet2 = 'WDLK_Main-Banner_Tablet_1_steph.jpg' | asset_url %}
    {% assign srcSet2@2x = 'WDLK_Main-Banner_Tablet_1_steph@2x.jpg' | asset_url %}
    {% assign srcSet3 = 'WDLK_Main-Banner_Desktop_1_steph.jpg' | asset_url %}
    {% assign srcSet3@2x = 'WDLK_Main-Banner_Desktop_1_steph@2x.jpg' | asset_url %}
    {% include 'slider-item'%}

    {% assign headline = 'home_page.sections.main_headline_2' | t %}
    {% assign caption = 'home_page.sections.main_caption_2' | t %}
    {% assign link = collections['tops'].url %}

    {% assign srcSet1 = 'WDLK_Main-Banner_Mobile_2_ana.jpg' | asset_url %}
    {% assign srcSet1@2x = 'WDLK_Main-Banner_Mobile_2_ana@2x.jpg' | asset_url %}
    {% assign srcSet2 = 'WDLK_Main-Banner_Desktop_2_ana.jpg' | asset_url %}
    {% assign srcSet2@2x = 'WDLK_Main-Banner_Desktop_2_ana@2x.jpg' | asset_url %}
    {% assign srcSet3 = 'WDLK_Main-Banner_Desktop_2_ana.jpg' | asset_url %}
    {% assign srcSet3@2x = 'WDLK_Main-Banner_Desktop_2_ana@2x.jpg' | asset_url %}
    {% include 'slider-item'%}

    {% assign headline = 'home_page.sections.main_headline_3' | t %}
    {% assign caption = 'home_page.sections.main_caption_3' | t %}
    {% assign link = collections['one-pieces'].url %}

    {% assign srcSet1 = 'WDLK_Main-Banner_Mobile_1@1x.jpg' | asset_url %}
    {% assign srcSet1@2x = 'WDLK_Main-Banner_Mobile_1@2x.jpg' | asset_url %}
    {% assign srcSet2 = 'WDLK_Main-Banner_Tablet_1@1x.jpg' | asset_url %}
    {% assign srcSet2@2x = 'WDLK_Main-Banner_Tablet_1@2x.jpg' | asset_url %}
    {% assign srcSet3 = 'WDLK_Main-Banner_Desktop_1@1x.jpg' | asset_url %}
    {% assign srcSet3@2x = 'WDLK_Main-Banner_Desktop_1@2x.jpg' | asset_url %}
    {% include 'slider-item'%}
  </div>
  <button class="Slider-btn js_slider-btn" tabindex="0">
    <span class="Slider-pointer">
      {{ 'home_page.sections.main_next' | t }}
    </span>
    <svg class="Icon Icon--right">
        <use xlink:href="#Arrow_right" />
    </svg>
  </button>
  <div class="Slider-navigation">
    <div class="Slider-dot js_slider-dot" style="--active: 1"></div>
    <div class="Slider-dot js_slider-dot" style="--active: 0"></div>
    <div class="Slider-dot js_slider-dot" style="--active: 0"></div>
    {% comment %} <div class="Slider-dot js_slider-dot" style="--active: 0"></div> {% endcomment %}
  </div>
</section>
{% include 'banner-teaser' %}
{% include 'banner-teaser-category' %}
{% include 'banner-principles' %}
{% include 'banner-collection' %}
{% include 'instagram-feed' %}

