<section class="Stage">
  {% include 'banner-main' %}
  {% include 'banner-teaser' %}
  {% include 'banner-expander' %}
  {% include 'banner-principles' %}
  {% include 'banner-collection' %}
</section>
{% include 'instagram-feed' %}
