<main class="Container Container--brand">
    <section class="TextBlock">
        <h1 class="Headline Headline--1">{{ page.title }}</h1>
        {{ page.content }}
    </section>
    {% assign videoWebM =
        'WDLK_Brand-Video-Bg.webm' | file_url %}
    {% assign videoMp4 =
        'WDLK_Brand-Video-Bg.mp4' | file_url %}
    {% assign videoPoster =
        'WDLK_Brand-Video-Poster.jpg' | file_img_url %}
    {% assign mute = true %}
    {% include 'video' %}
</main>
