{% assign test = 'WDLK_Expander_Tablet_1@2x.jpg' | asset_url %}
<div>
  <div>
    <svg viewbox="0 0 320 480">
      <title></title>
      <image href="{{ test }}" width="320" height="480px"/>
       <text x="0" y="15" fill="red">Our shape-styles are designed to give you a mini shape effect. Crafted out of two layers (double lined) high-quality eco fabric to shape the perfect silhouette. The Shape Effect will make you feel confident and comfortable with your body at all times. We give meticulous attention to the cuts and textures details and use them to your advantage.</text>
    </svg>
  </div>
  <div>
    <svg viewbox="0 0 320 480">
      <title></title>
      <image href="{{ test }}" width="320" height="480px"/>
    </svg>
  </div>
  <div>
    <svg viewbox="0 0 320 480">
      <title></title>
      <image href="{{ test }}" width="320" height="480px"/>
    </svg>
  </div>
</div>
