<div
  class="Banner Banner--expander Expander">
  {% assign paneId = '1' %}
  {% assign headline = 'general.expander.first_headline' | t %}
  {% assign caption = 'general.expander.first_caption' | t %}
  {% assign categoryTitle = 'general.expander.first_headline' | t %}
  {% assign link = collections['shape-effect'].url %}

  {% assign srcSet1 = 'WDLK_Expander_Mobile_1@1x.jpg' | asset_url %}
  {% assign srcSet1@2x = 'WDLK_Expander_Mobile_1@2x.jpg' | asset_url %}
  {% assign srcSet2 = 'WDLK_Expander_Tablet_1@1x.jpg' | asset_url %}
  {% assign srcSet2@2x = 'WDLK_Expander_Tablet_1@2x.jpg' | asset_url %}
  {% assign srcSet3 = 'WDLK_Expander_Desktop_1@1x.jpg' | asset_url %}
  {% assign srcSet3@2x = 'WDLK_Expander_Desktop_1@2x.jpg' | asset_url %}
  {% include 'expander-pane' %}

  {% assign paneId = '2' %}
  {% assign headline = 'general.expander.second_headline' | t %}
  {% assign caption = 'general.expander.second_caption' | t %}
  {% assign categoryTitle = 'general.expander.second_headline' | t %}
  {% assign link = collections['active'].url %}

  {% assign srcSet1 = 'WDLK_Expander_Mobile_2@1x.jpg' | asset_url %}
  {% assign srcSet1@2x = 'WDLK_Expander_Mobile_2@2x.jpg' | asset_url %}
  {% assign srcSet2 = 'WDLK_Expander_Tablet_2@1x.jpg' | asset_url %}
  {% assign srcSet2@2x = 'WDLK_Expander_Tablet_2@2x.jpg' | asset_url %}
  {% assign srcSet3 = 'WDLK_Expander_Desktop_2@1x.jpg' | asset_url %}
  {% assign srcSet3@2x = 'WDLK_Expander_Desktop_2@2x.jpg' | asset_url %}
  {% include 'expander-pane' %}

  {% comment %}
  {% assign paneId = '3' %}
  {% assign headline = 'general.expander.third_headline' | t %}
  {% assign caption = 'general.expander.third_caption' | t %}
  {% assign categoryTitle = 'general.expander.third_headline' | t %}
  {% assign link = collections['tanning'].url %}

  {% assign srcSet1 = 'WDLK_Expander_Mobile_3@1x.jpg' | asset_url %}
  {% assign srcSet1@2x = 'WDLK_Expander_Mobile_3@2x.jpg' | asset_url %}
  {% assign srcSet2 = 'WDLK_Expander_Tablet_3@1x.jpg' | asset_url %}
  {% assign srcSet2@2x = 'WDLK_Expander_Tablet_3@2x.jpg' | asset_url %}
  {% assign srcSet3 = 'WDLK_Expander_Desktop_3@1x.jpg' | asset_url %}
  {% assign srcSet3@2x = 'WDLK_Expander_Desktop_3@2x.jpg' | asset_url %}
  {% include 'expander-pane' %} {% endcomment %}
</div>
