<article class="Banner Banner--teaser" id="Banner-teaser">
  <div class="Banner-content">
      <small class="Banner Banner-introText">
          {{'home_page.sections.claim_intro' | t}}
      </small>
      <h2 class="Headline Headline--2">
          {{'home_page.sections.claim_html' | t}}
      </h2>
      <a class="Link Link--btn" href="{{ pages['sustainability'].url }}">
          {{'general.buttons.link_learn_more' | t}}
          <svg class="Icon Icon--right">
              <use xlink:href="#Arrow_right" />
          </svg>
      </a>
  </div>
</article>
