<div class="CookieNotification js-cookieNotification">
  <div class="CookieNotification-content">
    <p class="CookieNotification-copy">
    {{'general.cookie.copy' | t}}
    <a class="CookieNotification-link"
      href="{{ pages['privacy-policy'].url }}#cookies">
      {{'general.cookie.more' | t}}
    </a>
    </p>
  </div>
  <button class="Btn js-cookieNotificationBtn">
    {{'general.cookie.agree' | t}}
  </button>
</div>
