<div class="Expander">
  {% assign paneId = '1' %}
  {% assign srcSet1 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/mob-1.jpg' %}
  {% assign srcSet2 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/tab-1.jpg' %}
  {% assign srcSet3 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/mob-1.jpg' %}
  {% include 'expander-pane' %}

  {% assign paneId = '2' %}
  {% assign srcSet1 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/mob-2.jpg' %}
  {% assign srcSet2 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/tab-2.jpg' %}
  {% assign srcSet3 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/desk-2.jpg' %}
  {% include 'expander-pane' %}

  {% assign paneId = '3' %}
  {% assign srcSet1 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/mob-3.jpg' %}
  {% assign srcSet2 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/tab-3.jpg' %}
  {% assign srcSet3 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/desk-3.jpg' %}
  {% include 'expander-pane' %}
</div>
