<section class="Banner Banner--plain">
  <div class="Banner-background">
    <div class="Banner-content">
      <a href="https://www.instagram.com/wdlk/" target="_blank">
        <svg class="SocialList-item Icon Icon--social Icon--instagram">
          <use xlink:href="#Instagram" />
        </svg>
      </a>
      <h2 class="Headline Headline--3">
      {{ 'home_page.sections.social_title' | t}}
      </h2>
      <a class="Link Link--btn" href="https://www.instagram.com/explore/tags/wdlkswim/" target="_blank">
      {{ 'home_page.sections.social_hashtag' | t}}
      </a>
    </div>
  </div>
  <ul class="Feed js_instagramFeed"></ul>
</section>
