{% comment %}
Logo
Use the uploaded logo from theme settings if enabled.
Site name gets precedence with H1 tag on homepage, div on other pages.
{% endcomment %}
{% if template == 'index' %}
<h1 itemscope itemtype="http://schema.org/Organization">
    <a class="Logo" href="/" rel="{{ shop.name }}" itemprop="url" >
        <svg class="Logo-img">
            <use xlink:href="#Logo_Woodlike_Ocean_horizontal" />
        </svg>
    </a>
</h1>
{% else %}
<div itemscope itemtype="http://schema.org/Organization">
    <a class="Logo" href="/" rel="{{ shop.name }}" itemprop="url" >
        <svg class="Logo-img">
            <use xlink:href="#Logo_Woodlike_Ocean_horizontal" />
        </svg>
    </a>
</div>
{% endif %}
