<div class="PaymentList">
  <svg class="Icon Icon--paypal">
      <use xlink:href="#Paypal" />
  </svg>
  <svg class="Icon Icon--skrill">
      <use xlink:href="#Skrill" />
  </svg>
  <svg class="Icon Icon--advanced">
      <use xlink:href="#Advanced-payment" />
  </svg>
  <svg class="Icon Icon--sofort">
      <use xlink:href="#Sofort" />
  </svg>
</div>
