.NewsletterForm {
  position: relative;
  overflow: hidden;

  &-content {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    padding: {
      right: $base-spacing;
      left: $base-spacing;
    }
    margin: {
        left: auto;
        right: auto;
    }
    text-align: center;
    @include media (medium) {
      padding: {
        right: 40px;
        left: 40px;
      }
    }
  }

  &-img {

    @include media (large) {
        width: 100%;
    }
  }

  &-security {
    position: absolute;
    left: -5000px;
  }

  .Headline {
    color: $typo-hex--quaternary;
  }

  .Btn {
    @include media(large) {
        margin-left: 0;
    }
  }
}
