{% comment %}
   There should be two types of link-list components:
   1. primary
   2. secondary
{% endcomment %}
{% if link-list %}
<ul class="LinkList {% if link-list != 'primary' %}LinkList--{{link-list}}{% endif %}">

    {% for link in linklists.[{{linkListHandle}}].links %}
    <li class="LinkList-item">
        <a href="{{ link.url }}" class="LinkList-link {% if link.active %} is-active{% endif %}">
            {{ link.title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
