.BurgerBtn {
  display: block;
  width: 2.4rem;
  padding: {
    top: calc(1.6rem - (.2rem / 2) );
    bottom: calc(1.6rem - (.2rem / 2) );
  }
  text-align: left;
  cursor: pointer;

  @include media (medium) {
    display: none;
  }

  &-line {
    position: absolute;
    width: inherit;
    height: .2rem;
    background-color: $burger-color;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: inherit;
      height: inherit;
      background-color: $burger-color;
      transform-origin: 50% 50%;
      transform: rotate3d(0, 0, 1, 0);
      transition: top .3s .6s ease, transform .3s ease;
    }

    &::before {
        top: calc(-.2rem * 4);
    }

    &::after {
        top: calc(.2rem * 4);
    }
  }
}

.Navigation {
  &-state {
    &:checked {
        ~ .BurgerBtn {
            .BurgerBtn-line {
                background-color: transparent;


                &::before,
                &::after {
                    top: 0;
                    transition: top .3s ease, transform .3s .5s ease;
                }

                &::before {
                    transform: rotate3d(0, 0, 1, 45deg);
                }

                &::after {
                    top: 0;
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }

        }
    }
  }
}
