:root {
    --btn-timing: .35s;
}

.Btn {
    display: inline-block;
    height: var(--form-base-height);
    padding: 0 calc(var(--form-base-padding) + 1.6rem);
    border: none;
    background-color: var(--btn-bg-color);
    line-height: var(--form-base-height);
    letter-spacing: .16rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color var(--btn-timing) ease;

    @include copy-text(
        var(--md-copy-size),
        var(--typo-hex--tertiary),
        bold
    );

    &:hover {
        color: var(--typo-hex--tertiary);
        background-color: var(--btn-bg-color-hover);
    }

    &--secondary {
        background-color: var(--btn-bg-color-secondary);
    }
}
