$copy-size-xs    : 1rem;
$copy-size-s     : 1.2rem;
$copy-size-m     : 1.4rem;
$copy-size       : 1.6rem;
$copy-size-l     : 1.8rem;

html {
    font-family: "museo_sans300", sans-serif;
    font-size: 62.5%; // Equivalent to 10px
    line-height: 1.5;
    color: $typo-hex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin copy-text ($color: $typo-hex) {
    font-size: $copy-size;
    color: $color;
}

body {
    @include copy-text();
}

@mixin copy-text-sm ($font-size: $copy-size-s) {
    font-size: $font-size;
}

@mixin copy-text ($font-size: $copy-size, $color: $typo-hex, $weight: normal) {
    font-size: $font-size;
    color: $color;
    @if ($weight != normal) {
        font-weight: $weight;
    }
}

.Copy {
  @include copy-text($copy-size-s, inherit);
}
