:root {
    --copy-size: 1.6rem;
    --md-copy-size: 1.4rem;
    --small-copy-size: 1.2rem;
    --xs-copy-size: 1rem;
}

@mixin copy-text ($color: var(--typo-hex)) {
    font-size: var(--copy-size);
    color: $color;
}

@mixin copy-text-sm ($font-size: var(--small-copy-size)) {
    font-size: $font-size;
}

@mixin copy-text ($font-size: var(--copy-size), $color: var(--typo-hex), $weight: normal) {
    font-size: $font-size;
    color: $color;
    @if ($weight != normal) {
        font-weight: $weight;
    }
}

html {
    font-family: "museo-sans", sans-serif;
    font-size: 62.5%; // Equivalent to 10px
    line-height: 1.5;
    color: var(--typo-hex);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @include copy-text();
}
