//-- Bourbon Font Face Mixin
@import "./node_modules/bourbon/app/assets/stylesheets/settings/_asset-pipeline";
@import "./node_modules/bourbon/app/assets/stylesheets/css3/_font-face";

@include font-face("museo-sans", "/assets/museo300-regular-webfont");
@include font-face("museo-sans-bold", "/assets/museosans_700-webfont");
@include font-face("museo", "/assets/museosans_300-webfont");


html {
    font-family: "museo-sans", sans-serif;
    font-size: 62.5%; // Equivalent to 10px
    line-height: 1.5;
    color: var(--typo-hex);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
