.Headline--extended {
  --headline-size: 3.3;

  margin: 0;
  font-family: "museo300";
  font-size: calc(var(--headline-size) * 1rem);
  letter-spacing: 3px;
  text-transform: uppercase;

  @media(min-width: 768px) {
    --headline-size: 5.3;
  }

  @include media(large) {
    --headline-size: 7;
  }
}
