@keyframes Blink {
  from {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes BlinkReverse {
  from {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 1;
  }
  to {
    fill-opacity: 0;
  }
}

.Headline--extended {
  --headline-size: 16;
  font-family: "museo300";
  font-size: calc(var(--headline-size) * 1rem);
  pointer-events: none;
  transform: translate3d(-30%, calc(50% + 4rem), 0);
  transition: opacity .3s ease-out;

  @include media(medium) {
    --headline-size: 8;
    transform: translate3d(0, calc(50% - 6rem), 0);
  }

  &-section {
    &:nth-child(1) {
      fill-opacity: 0;
      @include media(medium) {
        fill-opacity: 1;
      }
    }
    &:nth-child(2) {
      fill-opacity: 1;
      animation: Blink 3500ms infinite steps(1);
    }
    &:nth-child(3) {
      fill-opacity: 0;
      animation: BlinkReverse 3500ms infinite steps(1);
    }
  }
}

.Gradient {
  &-stop {
    &:nth-child(1) {
      stop-color: var(--hsla-yellow);
    }

    &:nth-child(2) {
      stop-color: var(--hsla-coral8);
    }
  }
}
