//-- Font sizes tablets and desktops
:root {
    --h-stage-size: 11.2rem;
    --h-stage-base-spacing: 1.6rem;
    --h-stage-secondary-size: 7.8rem;
    --h1-size: 4.4rem;
    --h2-size: 3.6rem;
    --h3-size: 2.6rem;
    --h4-size: 2.2rem;
    --h5-size: 1.8rem;
}

.HeadlineBanner {
    display: block;
    width: 100vw;
    //-- Fixes the height in different browsers to the
    //-- lack of dominant-baseline: middle
    height: calc((var(--h-stage-size) / 1.75) * 2 + 1);
    margin-bottom: calc(var(--h-stage-base-spacing) + 1);
    font-family: "museo";
    font-size: calc(var(--h-stage-size) / 1.75);
    font-weight: 100;
    line-height: 1;
    letter-spacing: 1rem;
    text-transform: uppercase;
    pointer-events: none;

    &:not(:root) {
        overflow: visible;
    }

    &-text {
        text-anchor: middle;
        pointer-events: auto;
    }

    &-tspan {
        &:last-of-type {
            display: none;
        }
    }

    @include media(medium) {
        height: calc(var(--h-stage-size) / 1.333333333);
        margin-top: var(--h-stage-base-spacing);
        font-size: calc(var(--h-stage-size) / 1.333333333);
        letter-spacing: 1.6rem;

        &-text {
            dominant-baseline: middle;

            &:last-of-type {
                display: none;
            }
        }

        &-tspan {
            &:last-of-type {
                display: block;
            }
        }
    }

    @include media(large) {
        height: var(--h-stage-size);
        font-size: var(--h-stage-size);
    }
}

.HeadlineBanner-secondary {
    font-size: var(--h-stage-secondary-size);
}

.Headline {
    margin: 2rem 0;
    font-weight: normal;
    color: var(--typo-hex--secondary);

    &--1 {
        font-size: var(--h1-size);
    }

    &--2 {
        font-size: var(--h2-size);
    }

    &--3 {
        font-size: var(--h3-size);
    }

    &--4 {
        font-size: var(--h4-size);
    }

    &--5 {
        font-size: var(--h5-size);
    }

    &--highlight {
        color: var(--typo-hex--highlight)
    }

}
