:root {
  --social-icons-size: 2rem;
  --disable-icons: 2.6rem;
}

.Icon {
  &--social {
    display: inline-block;
    height: var(--social-icons-size);
    width: var(--social-icons-size);
    margin: 0 $base-spacing;
    vertical-align: bottom;
  }
}
