.Icon {
  color: inherit;
  fill: currentColor;
  &--social {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin: 0 $base-spacing;
    vertical-align: middle;
  }
  &--one-percent {
    width: 7rem;
    height: 3rem;
  }
}
