:root {
    --indicators-size: 8px;
    --indicator-transition-speed: .45s;
}

//-- Generates the necessary styling for the active indicators.
//-- Depends heavily in nth-of-type pseudo class
//-- and a rigid HTML structure. The mixin should be use on the global space.
//-- This mixins acceps the following parameters:
//-- 1. The amount of indicators
//-- 2. The class of the trigger input
//-- 3. The parent class of the indicators
//-- 4. The class of the indicator item
@include generateActiveIndicator(6, Carousel-trigger, Indicators, Indicators-item) {
    background-color: var(--indicator-active-color);
    transform: scale(1.5);
};

.Indicators {
    position: absolute;
    top: calc(var(--base-margin) + .5);
    left: calc(var(--base-margin) + .5);
    z-index: 1;
    display: block;

    @include media(medium) {
        display: none;
    }

    &-item {
        display: inline-block;
        width: var(--indicators-size);
        height: var(--indicators-size);
        border-radius: 50%;
        margin-right: var(--base-margin);
        background-color: var(--indicator-color);
        cursor: pointer;
        transform: scale(1);
        transition: transfrom var(--indicator-transition-speed) ease-out, background-color var(--indicator-transition-speed) ease-out;
        outline: none;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: var(--indicator-active-color);
        }
    }
}
