:root {
    --indicators-size: 8px;
    --indicator-transition-speed: .35s;
}

//-- Generates the necessary styling for the active indicators.
//-- Depends heavily in nth-of-type pseudo class
//-- and a rigid HTML structure. The mixin should be use on the global space.
//-- This mixins acceps the following parameters:
//-- 1. The amount of indicators
//-- 2. The class of the trigger input
//-- 3. The parent class of the indicators
//-- 4. The class of the indicator item
@mixin generateActiveIndicator ($item-amount, $trigger-selector, $target-parent, $target-selector) {
    @for $i from 1 through $item-amount {
      .#{$trigger-selector} {
        &:checked {
          &:nth-of-type(#{$i}) {
            ~ .#{$target-parent} {
              .#{$target-selector} {
                &:nth-of-type(#{$i}) {
                  @content;
                }
              }
            }
          }
        }
      }
    }
}

@mixin generateIndicatorItem ($width, $height) {
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: var(--indicator-color);
    cursor: pointer;
    transform: scale(1);
    transition: transfrom var(--indicator-transition-speed) ease, background-color var(--indicator-transition-speed) ease-out;
    outline: none;

    &:hover {
        background-color: var(--indicator-active-color);
    }

}
