:root {
  --input-base-height: 4.6rem;
  --input-base-width: 80%;
  --input-base-mobile: 24.2rem;
}

.InputField {
  box-sizing: border-box;
  width: 100%;
  height: var(--input-base-height);
  padding: 0 var(--base-spacing);
  border: none;
  line-height: var(--input-base-height);
  font-family: "museo_sans500";
  font-size: var(--md-copy-size);
  color: var(--input-hex-placeholder);

  // @include media(small, max-width) {
  //     width: var(--input-base-mobile);
  // }

  &--row {
    display: inline-block;
    width: calc(var(--input-base-width) - var(--base-spacing));
    vertical-align: top;
  }
}
