:root {
  --input-base-height: 4.6rem;
  --input-base-width: 80%;
  --input-base-mobile: 24.2rem;
}

.InputField {
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  height: var(--input-base-height);
  padding: 0 var(--base-spacing);
  border: 1px solid $input-hex-bg;
  line-height: var(--input-base-height);
  font-family: "museo_sans500";
  font-size: var(--md-copy-size);
  color: $input-hex-placeholder;

  &:focus {
    outline: none;
    border-color: $input-hex-focus;
  }

  &--row {
    display: inline-block;
    width: calc(var(--input-base-width) - var(--base-spacing));
    vertical-align: top;

    @include media(medium) {
      width: calc((var(--input-base-width) - 20%) - var(--base-spacing));
    }
  }
}
