.InputField {
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  height: $input-base-height;
  padding: 0 $base-spacing;
  border: 1px solid $input-hex-bg;
  line-height: $input-base-height;
  font-family: "museo_sans500";
  font-size: var(--md-copy-size);
  color: $input-hex-placeholder;

  &:focus {
    outline: none;
    border-color: $input-hex-focus;
  }

  &--row {
    display: inline-block;
    width: calc(#{$input-base-width} - #{$base-spacing});
    vertical-align: top;

    @include media(medium) {
      width: calc(#{($input-base-width  - 20%)} - $base-spacing);
    }
  }
}
