:root {
    --link-icon-width: .7rem;
    --link-icon-height: 1.4rem;
}

.Link {
    display: inline-block;
    border: none;
    color: var(--link-hex-color);
    // font-size: var(--md-copy-size);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .16rem;
    cursor: pointer;
    transition: color var(--transition-speed) ease;
    background: none;

    &:hover {
        color: var(--link-hex-hover-color);
    }

    &--btn {
        .Icon--right {
            width: var(--link-icon-width);
            height: var(--link-icon-height);
            margin: {
                bottom: 2px;
                left: 5px;
            }
            vertical-align: middle;
            fill: currentColor;
        }
    }

    &--secondary {
        text-transform: lowercase;

        .Icon {
            height: 20px;
            width: 10px;
            vertical-align: bottom;
            fill: currentcolor;
        }
    }

    &--tonedown {
        color: var(--link-hex-secondary-color);

        &:hover {
            color: var(--link-hex-secondary-hover);
        }
    }

    &--stripped {
        font-weight: normal;

    }
}
