.Link {
    display: inline-block;
    border: none;
    color: $link-hex-color;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .16rem;
    cursor: pointer;
    transition: color $transition-speed ease;
    background: none;

    &:hover {
        color: $link-hex-hover-color;
    }

    &--btn {
        .Icon--right {
            width: .7rem;
            height: 1.4rem;
            margin: {
                bottom: 2px;
                left: 5px;
            }
            vertical-align: middle;
            fill: currentColor;
        }
    }

    &--secondary {
        text-transform: lowercase;

        .Icon {
            height: 20px;
            width: 10px;
            vertical-align: bottom;
            fill: currentcolor;
        }
    }

    &--tonedown {
        color: $link-hex-secondary-color;

        &:hover {
            color: $link-hex-secondary-hover;
        }
    }

    &--stripped {
        font-weight: normal;

    }

    &--contrast {
        color: $typo-hex--tertiary;
        font-weight: normal;

        &::after {
            content: "";
            display: block;
            height: .1rem;
            width: 100%;
            margin-top: 2px;
            background-color: $typo-hex--tertiary;
            transform: scale3d(0, 0, 0);
            transform-origin: 0 0;
            transition: transform .8s $border-timing;
        }

        &:hover {
            color: currentColor;

            &::after {
                transform: none;
            }
        }
    }
}
