.Logo {
    display: flex;

    &-img {
        width: 122px;
        height: 46px;
        fill: $link-hex-color;
        transition: fill $button-timing ease;

        &:hover {
            fill: $link-hex-hover-color;
        }
    }
}
