:root {
    --number-input-width: 112px;
    --number-input-height: 46px;
    --number-input-btn-width: 36px;
    --qty-btn-size: 1.8rem;
    --qty-input-width: 70px;
    --qty-input-timing: .35s;
    --qty-input-timing-func: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.NumberInput {
    position: relative;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: var(--number-input-width);
    height: var(--number-input-height);
    border: 1px solid var(--input-hex-border);
    margin-right: 1.5rem;
    text-align: justify;
    overflow: hidden;
    background-color: var(--input-hex-bg);
    transition: border .5s ease;

    &:hover {
        border-color: var(--input-hex-focus);
    }

    &-value {
        display: inline-block;
        box-sizing: border-box;
        width: calc(var(--number-input-width) - (var(--number-input-btn-width) * 2));
        height: calc(var(--number-input-height) - 2);
        border: 0;
        text-align: center;
        color: var(--input-hex-typo);
        font-family: "museo-sans-bold";
        font-size: var(--md-copy-size);
        font-weight: 600;

        &:focus {
            outline: none;
        }
    }

    &-btn {
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        width: var(--number-input-btn-width);
        cursor: pointer;
        line-height: 44px;
        text-align: center;

        &:first-child {
            .Icon {
                margin-bottom: -3px;
            }
        }

        .Icon {
            width: 10px;
            height: 10px;
            pointer-events: none;
            transition: fill .5s ease;
        }

        &:hover  {
            .Icon {
                fill: var(--input-hex-typo);
            }
        }
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.Qty-input {
    position: relative;
    margin-right: var(--form-base-margin);
    overflow: hidden;

    &-field {
        box-sizing: border-box;
        height: var(--form-base-height);
        max-width: var(--qty-input-width);
        padding: {
            left: calc(var(--form-base-height) - 2.5rem);
            right: calc(var(--form-base-height) - 0.5rem);
        }
        border: 1px solid var(--form-el-bg-color);
        line-height: var(--form-base-height);
        @include copy-text(calc(var(--md-copy-size) - .1),  var(--form-typo-color), bold);
        background-color: var(--form-el-bg-color);
        cursor: pointer;
        transition: border-color var(--qty-input-timing) var(--qty-input-timing-func);

        &:focus,
        &:hover,
        &:active {
            border-color: var(--form-el-focus-color);
            outline: none;
        }
    }

    &-btn {
        position: absolute;
        right: 2px;
        width: var(--qty-btn-size);
        height: var(--qty-btn-size);
        padding: 0;
        border: none;
        line-height: var(--qty-btn-size);
        font-weight: bold;
        text-align: center;
        background-color: var(--form-btn-color);
        @include copy-text(calc(var(--md-copy-size) - .1),  var(--typo-hex--tertiary), bold);

        cursor: pointer;
        transition: background-color var(--qty-input-timing) ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover {
            background-color: color(var(--form-btn-color) blackness(50%));
        }

        &:focus,
        &:active {
            outline: none;
        }

        &--more {
            top: 2px;
        }

        &--less {
            bottom: 2px;
        }
    }
}
