.NumberInput {
    position: relative;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 112px;
    height: 46px;
    border: 1px solid $input-hex-border;
    margin-right: 1.5rem;
    text-align: justify;
    overflow: hidden;
    background-color: $input-hex-bg;
    transition: border .5s ease;

    &:hover {
        border-color: $input-hex-focus
    }

    &-value {
        display: inline-block;
        box-sizing: border-box;
        width: 112px - (36px * 2);
        height: 46px - 2;
        border: 0;
        text-align: center;
        color: $input-hex-typo;
        font-size: $copy-size-m;
        font-weight: bold;

        &:focus {
            outline: none;
        }
    }

    &-btn {
        display: inline-block;
        box-sizing: border-box;
        width: 36px;
        height: 100%;
        cursor: pointer;
        line-height: 44px;
        text-align: center;

        &:first-child {
            .Icon {
                margin-bottom: -4px;
            }
        }

        .Icon {
            width: 10px;
            height: 10px;
            pointer-events: none;
            transition: fill .5s ease;
        }

        &:hover  {
            .Icon {
                fill: $input-hex-typo;
            }
        }
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.Qty-input {
    position: relative;
    margin-right: $form-base-margin;
    overflow: hidden;

    &-field {
        box-sizing: border-box;
        height: $form-base-height;
        max-width: 70px;
        padding: {
            left: $form-base-height - 2.5rem;
            right: $form-base-height - 0.5rem;
        }
        border: 1px solid $form-el-bg-color;
        line-height: $form-base-height;
        @include copy-text($copy-size-m - .1,  $form-typo-color, bold);
        background-color: $form-el-bg-color;
        cursor: pointer;
        transition: border-color .35s cubic-bezier(1.000, 0.000, 0.000, 1.000);

        &:focus,
        &:hover,
        &:active {
            border-color: $form-el-focus-color;
            outline: none;
        }
    }

    &-btn {
        position: absolute;
        right: 2px;
        width: 1.8rem;
        height: 1.8rem;
        padding: 0;
        border: none;
        line-height: 1.8rem;
        font-weight: bold;
        text-align: center;
        background-color: $form-btn-color;
        @include copy-text(($copy-size-m - .1),  $typo-hex--tertiary, bold);

        cursor: pointer;
        transition: background-color .35s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover {
            background-color: color($form-btn-color blackness(50%));
        }

        &:focus,
        &:active {
            outline: none;
        }

        &--more {
            top: 2px;
        }

        &--less {
            bottom: 2px;
        }
    }
}
