.Select {
  display: block;
  height: $form-base-height;
  padding: {
    left: $form-base-height / 2;
    right: $form-base-height;
  }
  border-radius: 0;
  border-color: $input-hex-border;
  margin-right: $form-base-margin;
  color: $input-hex-typo;
  font-size: $copy-size-m;
  font-weight: bold;
  background: {
    color: $input-hex-bg;
    //-- Replace with the right icon
    image: url('{{ "ico-select.svg" | asset_url }}');
    repeat: no-repeat;
    position: right 10px center;
  }
  transition: border-color $transition-speed $timing;

  outline: none;
  -webkit-appearance: none;
  cursor: pointer;


  &:focus,
  &:active,
  &:hover {
      border-color: $input-hex-focus;
  }

  &.is-hidden {
      display: none;
  }
}
