:root {
    --select-timing: .35s;
    --select-timing-func: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.Select {
    display: block;
    height: var(--form-base-height);
    padding: {
        left: $form-base-height / 2;
        right: var(--form-base-height);
    }
    border-radius: 0;
    border-color: var(--input-hex-border);
    margin-right: var(--form-base-margin);
    color: var(--input-hex-typo);
    font-family: "museo-sans-bold";
    font-size: var(--md-copy-size);
    font-weight: 600;
    background: {
        color: var(--input-hex-bg);
        //-- Replace with the right icon
        image: url('{{ "ico-select.svg" | asset_url }}');
        repeat: no-repeat;
        position: right 10px center;
    }
    transition: border-color var(--select-timing) var(--select-timing-func);

    outline: none;
    appearance: none;
    cursor: pointer;


    &:focus,
    &:active,
    &:hover {
        border-color: var(--input-hex-focus);
    }

    &.is-hidden {
        display: none;
    }
}
