:root {
    --shopping-cart-size: 30px;
}

.ShoppingCart {
    display: inline-block;
    padding-left: calc(var(--base-spacing) / 2);
    margin-bottom: 12px;

    &-icon {
        width: calc(var(--shopping-cart-size) + 2px);
        height: var(--shopping-cart-size);
        fill-opacity: 0;
        stroke: currentColor;
        stroke-width: 2px;
        color: var(--hex-shoping-cart-color);

        .is-filled & {
            fill: var(--hex-shoping-cart-color);
            fill-opacity: 1;
            color: var(--hex-shoping-cart-color);
        }
    }

    &-count {
        font-size: var(--md-copy-size);
        font-weight: 100;
        stroke-width: 1px;
        color: var(--typo-hex--tertiary);
        text-anchor: middle;
    }
}
