.ShoppingBag {
    display: inline-block;
    padding: {
        top: 1rem;
        bottom: 1.4rem;
    }

    @include media (medium) {
        padding-top: 1.2rem;
    }

    &-icon {
        width: 32px;
        height: 30px;
        fill-opacity: 0;
        stroke: currentColor;
        stroke-width: 2px;
        color: $hex-shopping-cart-color;
        pointer-events: none;
        transition: fill .5s ease, stroke .5s ease;

        .is-filled & {
            fill: currentColor;
            fill-opacity: 1;

        }
    }
    &.is-filled:hover {
        .ShoppingBag-icon {
            fill: $hex-shopping-cart-hover;
            stroke: $hex-shopping-cart-hover;
        }
    }

    &-count {
        font-size: $copy-size-s;
        font-weight: 100;
        stroke-width: 1px;
        stroke: $typo-hex--tertiary;
        color: $typo-hex--tertiary;
        text-anchor: middle;
    }

    &--link {
        cursor: pointer;
    }
    &--tonedown {
        .ShoppingBag-icon {
            color: $hex-shopping-cart-tonedown;
        }

        &.is-filled {
            .ShoppingBag-icon {
                fill: currentColor;
            }
        }

    }
}
