:root {
    --shopping-cart-size: 30px;
}

.ShoppingBag {
    display: inline-block;
    padding-left: calc(var(--base-spacing) / 2);
    margin-bottom: 12px;

    &-icon {
        width: calc(var(--shopping-cart-size) + 2px);
        height: var(--shopping-cart-size);
        fill-opacity: 0;
        stroke: currentColor;
        stroke-width: 2px;
        color: var(--hex-shopping-cart-color);
        pointer-events: none;
        transition: fill .5s ease, stroke .5s ease;

        .is-filled & {
            fill: currentColor;
            fill-opacity: 1;

        }
    }
    &.is-filled:hover {
        .ShoppingBag-icon {
            fill: var(--hex-shopping-cart-hover);
            stroke: var(--hex-shopping-cart-hover);
        }
    }

    &-count {
        font-size: var(--small-copy-size);
        font-weight: 100;
        stroke-width: 1px;
        stroke: var(--typo-hex--tertiary);
        color: var(--typo-hex--tertiary);
        text-anchor: middle;
    }

    &--link {
        cursor: pointer;
    }
    &--tonedown {
        .ShoppingBag-icon {
            color: var(--hex-shopping-cart-tonedown);
        }

        &.is-filled {
            .ShoppingBag-icon {
                fill: currentColor;
            }
        }

    }
}
