:root {
    --shopping-cart-size: 30px;
    --shoping-cart-active-color: var(--coral);
}

.ShoppingCart {
    display: inline-block;
    padding-left: calc(var(--base-spacing) / 2);


    &-icon {
        width: calc(var(--shopping-cart-size) + 2px);
        height: var(--shopping-cart-size);
        fill-opacity: 0;
        stroke: currentColor;
        stroke-width: 2px;
        color: var(--typo-hex);

        .is-filled & {
            fill: var(--shoping-cart-active-color);
            fill-opacity: 1;
            color: var(--shoping-cart-active-color);
        }
    }

    &-count {
        font-size: var(--md-copy-size);
        font-weight: 100;
        stroke-width: 1px;
        color: var(--typo-hex--tertiary);
        text-anchor: middle;
    }
}
