.Price {
  display: block;
  margin: 2rem 0;
  font-family: "museo300";
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: normal;
  font-size: $h3-size;
  color: $hex-coral;
  text-align: center;


  &-item {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    color: currentColor;
  }

  &--sale {
    .Price-item {
      &:first-child {
        color: $typo-hex;
        font-size: $h4-size;
        text-decoration: line-through;
      }

      &:last-child {
        margin-left: calc(var(--size-XS) * 1px);
      }
    }
  }

  &--list {
    margin: 0;
    color: $typo-hex;
    font-size: $copy-size;
    font-weight: bold;
    text-align: right;

    .Price-item {
      &:first-child {
        font-size: inherit;
      }
    }
  }

}
