.Banner {
    $hsl-light-sand: hsv-to-hsl(32, 2%, 93%);
    $hsl-coral: hsv-to-hsl(5, 61%, 100%);
    $hsl-yellow: hsv-to-hsl(41, 67%, 100%);

    &--main {
        box-sizing: border-box;
        max-height: 100vh;
        background-color: hsla(
          nth($hsl-light-sand, 1),
          nth($hsl-light-sand, 2),
          nth($hsl-light-sand, 3), 1);
        .Banner-introText {
            color: var(--hex-coral);
            @include media(medium) {
                font-size: $copy-size-m * 1.43;
            }
        }
        .Banner-image {
            width: 100vw;
            height: auto;
            perspective-origin: center;
            perspective: 100vw;
        }
        .Banner-media {
            --alpha-filter-url: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Main-Banner_Desktop_alpha_mask.svg);
            --alpha-filter-tablet: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Main-Banner_Tablet_alpha_mask.svg);
            --alpha-filter-desktop: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Main-Banner_Desktop_alpha_mask.svg);
            --image-desktop-url: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Main-Banner_Desktop_@1x.png);
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100%;
                pointer-events: none;
            }
            &::before {
                z-index: 1;
                background: linear-gradient(135deg,
                  hsla(
                    nth($hsl-yellow, 1),
                    nth($hsl-yellow, 2),
                    nth($hsl-yellow, 3), .4),
                  hsla(
                    nth($hsl-coral, 1),
                    nth($hsl-coral, 2),
                    nth($hsl-coral, 3), .4) 80%);
                background-blend-mode: screen;
                mix-blend-mode: multiply;
            }
            &::after {
                z-index: 2;
                background: var(--image-desktop-url),
                  linear-gradient(135deg,
                  hsla(
                    nth($hsl-yellow, 1),
                    nth($hsl-yellow, 2),
                    nth($hsl-yellow, 3), .3),
                  hsla( nth($hsl-coral, 1),
                  nth($hsl-coral, 2),
                  nth($hsl-coral, 3), .3) 80%);

                background-repeat: no-repeat;
                background-size: cover;
                background-position: center top;
                mix-blend-mode: multiply;

                -webkit-mask-image: var(--alpha-filter-url);
                -webkit-mask-size: cover;
                -webkit-mask-position: center top;
                -webkit-mask-repeat: no-repeat;
                @supports(mask-image: var(--alpha-filter-url)) {
                    mask-image: var(--alpha-filter-url);
                    mask-size: cover;
                    mask-position: center top;
                    mask-repeat: no-repeat;
                }
            }
        }
        @include media(small, max-width) {
            .Banner-image {
                width: auto;
                height: 100vh;
            }
        }
        @include media(xsmall, max-width) {
            .Banner-image {
                transform: translateX(-8%);
            }
        }
        .Banner-content {
            z-index: 3;
            line-height: 1;
            transform: translateX(-50%) translateY(-35%);
        }
        .Btn {
            background: none;
            border: 2px solid white;
        }
    }
}
