:root {
  --theme: var(--theme-invert, #ffffff);
}

.Banner {
  $hsl-light-sand: hsv-to-hsl(32, 2%, 93%);
  $hsl-coral: hsv-to-hsl(5, 61%, 100%);
  $hsl-yellow: hsv-to-hsl(41, 67%, 100%);

  &--main {
    --alpha-mask: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Banner_alpha_mask_Smartphone_@2x_retina.svg);
    --image-mask: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Main-Banner_Smartphone_@2x_retina.png);
    box-sizing: border-box;
    max-height: 100vh;
    background-color: hsla(
      nth($hsl-light-sand, 1),
      nth($hsl-light-sand, 2),
      nth($hsl-light-sand, 3), 1);

    .Banner-introText {
        color: var(--hex-coral);
        @include media(medium) {
            font-size: $copy-size-m * 1.43;
        }
    }

    .Banner-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
      perspective-origin: center;
      perspective: 100vw;
    }

    .Banner-media {
      display: block;
      position: relative;
      padding-top: 149.47%;
      width: 100vw;

      @include media(small) {
        padding-top: 133.33%;
      }

      @include media(medium) {
        padding-top: 56.25%;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        pointer-events: none;
      }

      &::before {
        z-index: 1;
        background: linear-gradient(135deg,
          hsla(
            nth($hsl-yellow, 1),
            nth($hsl-yellow, 2),
            nth($hsl-yellow, 3), .25),
          hsla(
            nth($hsl-coral, 1),
            nth($hsl-coral, 2),
            nth($hsl-coral, 3), .25) 80%);
        background-blend-mode: screen;
        mix-blend-mode: multiply;
      }

      &::after {
        z-index: 2;
        background: var(--image-mask),
          linear-gradient(135deg,
          hsla(
            nth($hsl-yellow, 1),
            nth($hsl-yellow, 2),
            nth($hsl-yellow, 3), .35),
          hsla( nth($hsl-coral, 1),
          nth($hsl-coral, 2),
          nth($hsl-coral, 3), .35) 80%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        mix-blend-mode: multiply;

        @supports(-webkit-mask-image: var(--alpha-mask)) {
          -webkit-mask-image: var(--alpha-mask);
          -webkit-mask-size: cover;
          -webkit-mask-position: center top;
          -webkit-mask-repeat: no-repeat;
        }

        @supports(mask-image: var(--alpha-mask)) {
          mask-image: var(--alpha-mask);
          mask-size: cover;
          mask-position: center top;
          mask-repeat: no-repeat;
        }

        @include media(small) {
          --alpha-mask: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Banner_alpha_mask_Tablet.svg);
          --image-mask: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Main-Banner_Tablet_@1x.png);
        }

        @include media(medium) {
          --alpha-mask: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Banner_alpha_mask_Desktop.svg);
          --image-mask: url(https://cdn.shopify.com/s/files/1/0742/2733/t/34/assets/WDLK_Main-Banner_Desktop_@1x.png);
        }
      }
    }

    .Btn {
      border: 1px solid var(--theme);
      background-color: var(--theme-invert, transparent);
    }

    .Banner-content {
      z-index: 3;
      line-height: 1;
      transform: translateX(-50%) translateY(-35%);
    }
  }
}

.Gradient {
  &-stop {
    &:nth-child(1) {
      stop-color: var(--theme);
    }

    &:nth-child(2) {
      stop-color: var(--theme);
    }
  }
}

.Themed {
  @include media(medium) {
    .Logo-img,
    .ShoppingBag-icon {
      color: var(--theme);
      fill: currentColor;
    }

    .is-undocked {
      --theme: #{'#{$hex-logo-color}'};

      .Navigation-link {
        --theme: #{'#{$typo-hex}'};
      }

      .AccountNavigation-item {
        --theme: #{'#{$typo-hex--tone-down}'};
      }
    }

    .Navigation-link {
      color: var(--theme);

      &::after {
        background-color: var(--theme);
      }
    }
  }


  .AccountNavigation-item {
    color: var(--theme);
  }
}
