.SocialList {
    text-align: center;

    &-item {
        fill: $btn-bg-color;
        cursor: pointer;
        transition: fill .5s ease;

        &:hover {
            fill: $link-hex-hover-color;
        }
    }

    &--tonedown {
        .SocialList-item {
            fill: $link-hex-secondary-color;

            &:hover {
                fill: $link-hex-secondary-hover;
            }
        }
    }
}
