.Cart {
    &--quick {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        box-sizing: border-box;
        width: var(--cart-quick-width);
        height: 100vh;
        padding: var(--base-spacing) 5rem;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: $quick-cart-hex-bg;
        transform: translate3d(110%, 0, 0);
        transition: transform .5s ease;

        .Cart-header {
            display: flex;
            align-items: center;
            margin-bottom: 3rem;

            .ShoppingBag {
                margin-bottom: 8px;
                padding: 0 1.6rem 0 0;
            }

            .Link {
                flex-grow: 2;
                text-align: right;
                font-size: 1.1rem;
            }
        }

        //.Cart-list {
        //    text-align: left;
        //
        //    .Link {
        //        margin: 0 0 1.4rem;
        //        text-transform: initial;
        //    }
        //}

        .Cart-headline {
            @include media(medium) {
                margin-top: 0;
                font-size: $h6-size;
            }
        }

        .Cart-img {
            @include media(medium) {
                width: calc(var(--cart-thumb-size));
                height: calc(var(--cart-thumb-size));
            }
        }

        .Cart-attr {
            @include media(medium) {
                font-size: var(--md-copy-size);
            }
        }
    }

    &-shim {
        position: absolute;
        top: 0;
        right: var(--cart-quick-width);
        z-index: 1;
        width: 200vw;
        height: 100%;
        font-size: 0;
        pointer-events: none;
    }

    &-state {
        display: none;

        &:checked  {
            ~ .Cart--quick {
                transform: none;

                .Cart-shim {
                    pointer-events: auto;
                }
            }
        }
    }
}
