:root {
    --cart-quick-width: 390px;
}

.Cart {
    &--quick {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        box-sizing: border-box;
        width: var(--cart-quick-width);
        height: 100vh;
        padding: var(--base-spacing) 5rem;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        background-color: var(--quick-cart-hex-bg);
        //transform: translate3d(0, -100%, 0);
        transition: transform .5s ease;
        //-- Active
        //transform: none;
    }

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

        .ShoppingBag {
            margin-bottom: 8px;
            padding: 0 1.6rem 0 0;
        }

        .Link {
            flex-grow: 2;
            text-align: right;
        }
    }
}
