//-- The container scss module it is used to wrap
//-- content between the header and the footer.

.Container {
    position: relative;
    margin: {
        top: calc(var(--nav-height) + 6rem);
        bottom: calc(var(--base-spacing) * 4);
    }
    padding: {
        right: var(--base-spacing);
        left: var(--base-spacing);
    }
    overflow: hidden;

    @include media (medium) {
        padding: {
            right: calc(var(--base-spacing) * 2);
            left: calc(var(--base-spacing) * 2);
        }
    }

    .Headline {
        text-align: center;

        &--2 {
            margin-bottom: 6rem;
        }

        &--4 {
            margin-bottom: 4rem;
        }
    }
}
