.Footer {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: $screen-l;
  padding: 7.7rem 5rem 3.5rem 5rem;
  text-align: center;
  line-height: 1.5;

  @include media(medium) {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .SocialList {
    margin-bottom: 60px;
  }

  .Copyright {
    width: 100%;
    text-align: center;
  }

  @include media(medium) {
    text-align: left;

    .LinkList {
      display: inline-block;
      min-width: 38%;
      margin-bottom: 60px;
      vertical-align: top;
    }

  }

}

.Footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background-color: $hex-white;
}
