:root {
    --footer-side-padding: 5rem;
}

.Footer {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--screen-l);
  padding: {
      top: 7.7rem;
      right: var(--footer-side-padding);
      bottom: 3.5rem;
      left: var(--footer-side-padding);
  }
  overflow: hidden;
  text-align: center;

  @include media(medium) {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: {
      right: auto;
      left: auto;
    }
  }

  .SocialList {
    margin-bottom: 60px;
  }

  .Copyright {
    width: 100%;
    text-align: center;
  }

  @include media(medium) {
    text-align: left;

    .LinkList {
      display: inline-block;
      min-width: 38%;
      margin-bottom: 60px;
      vertical-align: top;
    }

  }

}
