:root {
    --footer-side-padding: 5rem;
    --footer-side-paddding-diff: 5.8;
}

.Footer {
    padding: {
        top: 7.7rem;
        right: var(--footer-side-padding);
        bottom: 3.5rem;
        left: var(--footer-side-padding);
    }

    text-align: center;

    @include media(medium) {
        @include grid-wrapper(undefined, space-between);
        text-align: left;

        .LinkList {
            width: 40vw;

            &--secondary {
                align-self: flex-end;
                width: calc(100vw / 3 - 1);
            }
        }

        .PaymentList {
            width: calc(50vw - var(--footer-side-paddding-diff);
            text-align: right;
        }

        .SocialList,
        .Copyright {
            align-self: flex-end;
            width: calc(100vw / 3 - var(--footer-side-paddding-diff);
        }

        .Copyright {
            text-align: right;
        }
    }

}
