:root {
    --nav-height: 10rem;
    --nav-border-color: var(--lighter-gray-hex);
}

//-- Necessary for the fixed navigation to work
body {
    margin-top: var(--nav-height);
}

.Header {
    @include grid-wrapper(undefined, space-between);

    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    align-items: center;
    height: var(--nav-height);
    padding: 0 var(--base-sapacing);
    border-bottom: 1px solid var(--nav-border-color);
    background-color: var(--background-color);
}
