:root {
    --nav-border-color: var(--hex-blue-gray-lightest);
}


.Header {
    @include grid-wrapper(undefined, space-between);
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
    align-items: center;
    height: var(--nav-height);
    padding: 0 var(--base-spacing);
    margin-bottom: calc(-var(--nav-height));

    &.is-sticky {
        position: fixed;
        margin-bottom: 0;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: inherit;
        background: var(--navi-bg-color);
        transition: transform .4s ease, opacity .4s ease;
    }

    @include media(medium) {
        height: var(--nav-height-medium);
        padding: 0 calc(var(--base-spacing) * 2);
        margin-bottom: calc(-var(--nav-height-medium));

        &::before {
            border-bottom: solid var(--nav-border-color);
            border-bottom-width: 0;
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }

        &.is-undocked  {
            &::before {
                border-bottom-width: 1px;
                opacity: 1;
                transform: none;
            }
        }

    }
}
