.Header {
  @include grid-wrapper(undefined, space-between);
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
  box-sizing: border-box;
  align-items: center;
  height: $nav-height;
  padding: 0 20px;
  margin-bottom: -$nav-height;
  color: $hex-blue-gray-dark;

  &.is-sticky {
    position: fixed;
    margin-bottom: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: inherit;
    background: $navi-bg-color;
    transition: transform .4s ease, opacity .4s ease;
  }

  @include media(medium) {
    height: $nav-height-medium;
    padding: 0 #{$size-XXL}px;
    margin-bottom: -$nav-height-medium;

    &::before {
      border-bottom: solid $nav-border-color;
      border-bottom-width: 0;
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    &.is-undocked  {
      &::before {
        border-bottom-width: 1px;
        opacity: 1;
        transform: none;
      }
    }

  }
}

.Header {
  &:hover {
    &::before {
      border-bottom-width: 1px;
      opacity: 1;
      transform: none;
    }
  }
}

@include media (medium) {
  .Layout--main {
    .Header {
      //-- Changes betwenn White and Platinum
      //-- White: rgba(255, 255, 255, 1)
      //-- Platinum: rgba(89, 103, 113, 1)
      --r: calc(
      255 * (1 - var(--is-visible)) +
      89 * var(--is-visible)
      );
      --g: calc(
      255 * (1 - var(--is-visible)) +
      103 * var(--is-visible)
      );
      --b: calc(
      255 * (1 - var(--is-visible)) +
      113 * var(--is-visible)
      );
      color: rgba(var(--r), var(--g), var(--b), 1);
      &.is-undocked,
      &:hover {
        color: $hex-blue-gray-dark;
      }
    }
  }
}
