.Layout--main {
  padding-top: $nav-height;
  @include media(large) {
    padding-top: $nav-height-medium;
  }
}

.Layout-container {
  position: relative;
  z-index: 2;
  background-color: $background-color;
  @include media(medium) {
    margin-bottom: 603px;
  }
}

.Layout--parallax {
  line-height: 0;
}

.Layout--parallax .Layout-container {
  margin-bottom: 0;
}

.Layout--parallax .Footer {
  position: relative;
  z-index: 2;
}
