:root {
    --newsletter-height: 29.6rem;
}

.NewsletterForm {
    position: relative;
    overflow: hidden;

    &-content {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: {
            left: auto;
            right: auto;
        }
        text-align: center;
    }

    &-img {

        @include media (large) {
            width: 100%;
        }
    }

    &-security {
        position: absolute;
        left: -5000px;
    }

    .Headline {
        text-indent: 5%;
        color: var(--typo-hex--quaternary);

        @include media (large) {
            display: inline-block;
            margin-right: 2.8rem;
            text-indent: 0;
        }
    }

    .Btn {
        @include media (large) {
            margin-left: 0;
        }
    }

    .InputField {
        margin: {
            right: calc(50% - (var(--input-base-width) / 2));
            bottom: var(--base-spacing);
            left: calc(50% - (var(--input-base-width) / 2));
        }

        @include media (large) {
            display: inline-block;
            margin: {
                right:  1.5rem;
                left: 0;
            }
        }
    }

    .Btn {
        @include media (large) {
            display: inline-block;
        }
    }
}
