.Page {
    text-align: center;

    &-copy {
        max-width: var(--screen-md);
        padding: {
            right: calc(var(--base-spacing) * 2);
            left: calc(var(--base-spacing) * 2);
        }
        margin: {
            right: auto;
            left: auto;
        }
    }

    .template-index & {
        margin-top: 0;
    }

    &--woodlike-ocean-sizing-guide {
        .Table {
            max-width: 650px;
        }
        .Table-cell,
        .Table-headcell {
            width: 20%;
        }
    }

    &--woodlike-sustainable-swimwear-about-us {
        .Container--brand {
            height: 130vh;
        }
    }
}
