.Page {
    margin-top: var(--nav-height);

    @include media (medium) {
        margin-top: 0;
    }

    .template-index & {
        margin-top: 0;
    }

    &--woodlike-ocean-sizing-guide {
        .Table-cell,
        .Table-headcell {
            width: 20%;
        }
    }
}
