:root {
    --product-list-upper-margin: 4rem;
}

.ProductList {
    @include grid-wrapper();
    padding: {
        right: $product-base-spacing / 2;
        left: $product-base-spacing / 2;
    }
    margin-top: var(--product-list-upper-margin);

    @include media (medium) {
        padding: {
            right: $product-base-spacing;
            left: $product-base-spacing;
        }
        margin-bottom: $product-base-spacing;
    }
}
