.ProductList {
    @include grid-wrapper();
    padding: {
        right: $product-base-spacing / 2;
        left: $product-base-spacing / 2;
    }
    margin-top: 4rem;

    @include media (medium) {
        padding: {
            right: $product-base-spacing;
            left: $product-base-spacing;
        }
        margin-bottom: $product-base-spacing;
    }
}
