/******/ (function(modules) { // webpackBootstrap
/******/ 	// The module cache
/******/ 	var installedModules = {};
/******/
/******/ 	// The require function
/******/ 	function __webpack_require__(moduleId) {
/******/
/******/ 		// Check if module is in cache
/******/ 		if(installedModules[moduleId]) {
/******/ 			return installedModules[moduleId].exports;
/******/ 		}
/******/ 		// Create a new module (and put it into the cache)
/******/ 		var module = installedModules[moduleId] = {
/******/ 			i: moduleId,
/******/ 			l: false,
/******/ 			exports: {}
/******/ 		};
/******/
/******/ 		// Execute the module function
/******/ 		modules[moduleId].call(module.exports, module, module.exports, __webpack_require__);
/******/
/******/ 		// Flag the module as loaded
/******/ 		module.l = true;
/******/
/******/ 		// Return the exports of the module
/******/ 		return module.exports;
/******/ 	}
/******/
/******/
/******/ 	// expose the modules object (__webpack_modules__)
/******/ 	__webpack_require__.m = modules;
/******/
/******/ 	// expose the module cache
/******/ 	__webpack_require__.c = installedModules;
/******/
/******/ 	// define getter function for harmony exports
/******/ 	__webpack_require__.d = function(exports, name, getter) {
/******/ 		if(!__webpack_require__.o(exports, name)) {
/******/ 			Object.defineProperty(exports, name, {
/******/ 				configurable: false,
/******/ 				enumerable: true,
/******/ 				get: getter
/******/ 			});
/******/ 		}
/******/ 	};
/******/
/******/ 	// define __esModule on exports
/******/ 	__webpack_require__.r = function(exports) {
/******/ 		Object.defineProperty(exports, '__esModule', { value: true });
/******/ 	};
/******/
/******/ 	// getDefaultExport function for compatibility with non-harmony modules
/******/ 	__webpack_require__.n = function(module) {
/******/ 		var getter = module && module.__esModule ?
/******/ 			function getDefault() { return module['default']; } :
/******/ 			function getModuleExports() { return module; };
/******/ 		__webpack_require__.d(getter, 'a', getter);
/******/ 		return getter;
/******/ 	};
/******/
/******/ 	// Object.prototype.hasOwnProperty.call
/******/ 	__webpack_require__.o = function(object, property) { return Object.prototype.hasOwnProperty.call(object, property); };
/******/
/******/ 	// __webpack_public_path__
/******/ 	__webpack_require__.p = "";
/******/
/******/
/******/ 	// Load entry module and return exports
/******/ 	return __webpack_require__(__webpack_require__.s = "./src/scripts/home/index.ts");
/******/ })
/************************************************************************/
/******/ ({

/***/ "./configuration/instagram/graph.ts":
/*!******************************************!*\
  !*** ./configuration/instagram/graph.ts ***!
  \******************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.access=void 0;var access={id:17841402066497892,token:\"EAAGpy4D1CoQBAPEBF8wQ2fGewfeE9bJDoW5rPZAiMbuagwlY2tixtk3tPi0C4lptsh2qRbSip5tpmbt6iBy5eietVdv6CZBq2wdPVISHEVG5WfWxPBQBBtcpWwJL00MIEPI9AoGPKnIvQbavfmGgQeDOhbw5m2O048XRjRf4hx5QqECZA6HDiqCP5clwLQZD\"};exports.access=access;\n\n//# sourceURL=webpack:///./configuration/instagram/graph.ts?");

/***/ }),

/***/ "./configuration/instagram/index.ts":
/*!******************************************!*\
  !*** ./configuration/instagram/index.ts ***!
  \******************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("var _graph=__webpack_require__(/*! ./graph */ \"./configuration/instagram/graph.ts\");Object.defineProperty(exports,\"__esModule\",{value:!0});Object.keys(_graph).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _graph[a]}})});\n\n//# sourceURL=webpack:///./configuration/instagram/index.ts?");

/***/ }),

/***/ "./src/scripts/home/home.ts":
/*!**********************************!*\
  !*** ./src/scripts/home/home.ts ***!
  \**********************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("var IG=_interopRequireWildcard(__webpack_require__(/*! ../instagram */ \"./src/scripts/instagram/index.ts\")),Slider=_interopRequireWildcard(__webpack_require__(/*! ../slider */ \"./src/scripts/slider/index.ts\"));function _interopRequireWildcard(a){if(a&&a.__esModule)return a;var b={};if(null!=a)for(var c in a)if(Object.prototype.hasOwnProperty.call(a,c)){var d=Object.defineProperty&&Object.getOwnPropertyDescriptor?Object.getOwnPropertyDescriptor(a,c):{};d.get||d.set?Object.defineProperty(b,c,d):b[c]=a[c]}return b.default=a,b}var sliderEl=document.querySelector(\".js_slider\"),configuration={sliderEl:sliderEl,trackEl:sliderEl.querySelector(\".js_track\"),config:Slider.Config.create({transitionDuration:300})};Slider.init(configuration),IG.create({mountEl:document.querySelector(\".js_instagramFeed\"),postLimit:24});\n\n//# sourceURL=webpack:///./src/scripts/home/home.ts?");

/***/ }),

/***/ "./src/scripts/home/index.ts":
/*!***********************************!*\
  !*** ./src/scripts/home/index.ts ***!
  \***********************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("var _home=__webpack_require__(/*! ./home */ \"./src/scripts/home/home.ts\");Object.defineProperty(exports,\"__esModule\",{value:!0});Object.keys(_home).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _home[a]}})});\n\n//# sourceURL=webpack:///./src/scripts/home/index.ts?");

/***/ }),

/***/ "./src/scripts/instagram/index.ts":
/*!****************************************!*\
  !*** ./src/scripts/instagram/index.ts ***!
  \****************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("var _media=__webpack_require__(/*! ./media */ \"./src/scripts/instagram/media.ts\");Object.defineProperty(exports,\"__esModule\",{value:!0});Object.keys(_media).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _media[a]}})});\n\n//# sourceURL=webpack:///./src/scripts/instagram/index.ts?");

/***/ }),

/***/ "./src/scripts/instagram/media.ts":
/*!****************************************!*\
  !*** ./src/scripts/instagram/media.ts ***!
  \****************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.fetchMediaData=fetchMediaData,exports.fetchMedia=fetchMedia,exports.create=create;var Graph=_interopRequireWildcard(__webpack_require__(/*! ../../../configuration/instagram/ */ \"./configuration/instagram/index.ts\")),Component=_interopRequireWildcard(__webpack_require__(/*! ./templates */ \"./src/scripts/instagram/templates/index.ts\"));function _interopRequireWildcard(a){if(a&&a.__esModule)return a;var b={};if(null!=a)for(var c in a)if(Object.prototype.hasOwnProperty.call(a,c)){var d=Object.defineProperty&&Object.getOwnPropertyDescriptor?Object.getOwnPropertyDescriptor(a,c):{};d.get||d.set?Object.defineProperty(b,c,d):b[c]=a[c]}return b.default=a,b}var __awaiter=function(a,b,c,d){return new(c||(c=Promise))(function(e,f){function g(a){try{i(d.next(a))}catch(a){f(a)}}function h(a){try{i(d[\"throw\"](a))}catch(a){f(a)}}function i(a){a.done?e(a.value):new c(function(b){b(a.value)}).then(g,h)}i((d=d.apply(a,b||[])).next())})},getMediaURL=function(a){return\"https://graph.facebook.com/v3.2/\".concat(a,\"/?access_token=\").concat(Graph.access.token,\"&fields=media_type,media_url,thumbnail_url,permalink,caption,comments_count,like_count\")};function fetchMediaData(a){return __awaiter(this,void 0,void 0,regeneratorRuntime.mark(function b(){var c,e;return regeneratorRuntime.wrap(function(b){for(;;)switch(b.prev=b.next){case 0:return b.prev=0,b.next=3,fetch(getMediaURL(a));case 3:return c=b.sent,b.next=6,c.json();case 6:if(e=b.sent,200===c.status){b.next=10;break}return console.log(\"There was a problem fetching media data. Status code: \".concat(c.status)),b.abrupt(\"return\");case 10:return b.abrupt(\"return\",e);case 13:b.prev=13,b.t0=b[\"catch\"](0),console.log(\"IG media data fetch error: \".concat(b.t0));case 16:case\"end\":return b.stop();}},b,this,[[0,13]])}))}function fetchMedia(a){return __awaiter(this,void 0,void 0,regeneratorRuntime.mark(function b(){var c,e,f;return regeneratorRuntime.wrap(function(b){for(;;)switch(b.prev=b.next){case 0:return b.prev=0,b.next=3,fetch(a);case 3:return c=b.sent,b.next=6,c.json();case 6:if(e=b.sent,200===c.status){b.next=10;break}return console.log(\"There was a problem fetching the media id's. Status code: \".concat(c.status)),b.abrupt(\"return\");case 10:return b.next=12,Promise.all(e.data.map(function(a){return fetchMediaData(a.id)}));case 12:return f=b.sent,b.abrupt(\"return\",f);case 16:b.prev=16,b.t0=b[\"catch\"](0),console.log(\"IG media fetch error: \".concat(b.t0));case 19:case\"end\":return b.stop();}},b,this,[[0,16]])}))}var media=fetchMedia(\"https://graph.facebook.com/v3.2/\".concat(Graph.access.id,\"/media?access_token=\").concat(Graph.access.token));function create(a){var b=a.mountEl,c=a.postLimit;media.then(function(a){b.innerHTML=a.filter(function(a,b){return b<=c-1}).map(function(a,b){return Component.Feed({i:b,user:\"WDLK\",caption:Component.Caption({caption:a.caption,likes:a.like_count,user:\"WDLK\"}),media:Component.Media({link:a.permalink,src:a.media_url}),thumbnail:Component.Thumbnail({i:b,imgURL:a.thumbnail_url||a.media_url,thumbnailURL:a.thumbnail_url||a.media_url})})}).join(\"\")})}\n\n//# sourceURL=webpack:///./src/scripts/instagram/media.ts?");

/***/ }),

/***/ "./src/scripts/instagram/templates/caption.ts":
/*!****************************************************!*\
  !*** ./src/scripts/instagram/templates/caption.ts ***!
  \****************************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.Caption=void 0;var convertUnixDate=function(a){var b=new Date(parseInt(\"\".concat(a),10));return b.toDateString().slice(0,-4)},Caption=function(a){var b=a.likes,c=a.caption,d=a.user;return\"\\n  <figcaption class=\\\"Feed-caption Lightbox-row\\\">\\n  <strong class=\\\"Feed-highlight\\\">\".concat(b,\" likes</strong>\\n  <p class=\\\"Feed-copy\\\">\\n  <strong>\\n    \").concat(d,\"\\n  </strong>\\n    \").concat(c,\"\\n  </p>\\n  </figcaption>\\n\")};exports.Caption=Caption;\n\n//# sourceURL=webpack:///./src/scripts/instagram/templates/caption.ts?");

/***/ }),

/***/ "./src/scripts/instagram/templates/feed.ts":
/*!*************************************************!*\
  !*** ./src/scripts/instagram/templates/feed.ts ***!
  \*************************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.Feed=void 0;var Feed=function(a){var b=a.thumbnail,c=a.media,d=a.caption,e=a.i,f=a.user;return\"\\n  <li class=\\\"Feed-item Lightbox--row\\\">\\n  \".concat(b,\"\\n    <input class=\\\"Lightbox-state\\\" type=\\\"checkbox\\\" id=\\\"lightbox-\").concat(e,\"\\\" />\\n    <div class=\\\"Lightbox-shim\\\">\\n      <label class=\\\"Lightbox-shim-close\\\" for=\\\"lightbox-\").concat(e,\"\\\"></label>\\n      <figure class=\\\"Lightbox-content\\\">\\n        <header class=\\\"Lightbox-header\\\">\\n          <h3 class=\\\"Headline Headline--6\\\">\\n          \").concat(f,\"\\n          </h3>\\n          <label class=\\\"Lightbox-icon\\\" for=\\\"lightbox-\").concat(e,\"\\\"></label>\\n        </header>\\n        \").concat(c,\"\\n        \").concat(d,\"\\n      </figure>\\n    </div>\\n  </li>\\n\")};exports.Feed=Feed;\n\n//# sourceURL=webpack:///./src/scripts/instagram/templates/feed.ts?");

/***/ }),

/***/ "./src/scripts/instagram/templates/index.ts":
/*!**************************************************!*\
  !*** ./src/scripts/instagram/templates/index.ts ***!
  \**************************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("var _caption=__webpack_require__(/*! ./caption */ \"./src/scripts/instagram/templates/caption.ts\");var _feed=__webpack_require__(/*! ./feed */ \"./src/scripts/instagram/templates/feed.ts\");var _media=__webpack_require__(/*! ./media */ \"./src/scripts/instagram/templates/media.ts\");var _thumbnail=__webpack_require__(/*! ./thumbnail */ \"./src/scripts/instagram/templates/thumbnail.ts\");Object.defineProperty(exports,\"__esModule\",{value:!0});Object.keys(_caption).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _caption[a]}})});Object.keys(_feed).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _feed[a]}})});Object.keys(_media).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _media[a]}})});Object.keys(_thumbnail).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _thumbnail[a]}})});\n\n//# sourceURL=webpack:///./src/scripts/instagram/templates/index.ts?");

/***/ }),

/***/ "./src/scripts/instagram/templates/media.ts":
/*!**************************************************!*\
  !*** ./src/scripts/instagram/templates/media.ts ***!
  \**************************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.Media=void 0;var Media=function(a){var b=a.link,c=a.src;return\"\\n  <a class=\\\"Lightbox-row Feed-media\\\" href=\\\"\".concat(b,\"\\\" target=\\\"_blank\\\">\\n    <h4 class=\\\"Headline Headline--5\\\">\\n      Join the journey on Instagram @wdlk\\n    </h4>\\n    <img class=\\\"Feed-img\\\"\\n      src=\\\"\").concat(c,\"\\\"\\n      srcset=\\\"\").concat(c,\" 150w,\\n      \").concat(c,\" 320w,\\n      \").concat(c,\" 640w\\\" />\\n  </a>\\n\")};exports.Media=Media;\n\n//# sourceURL=webpack:///./src/scripts/instagram/templates/media.ts?");

/***/ }),

/***/ "./src/scripts/instagram/templates/thumbnail.ts":
/*!******************************************************!*\
  !*** ./src/scripts/instagram/templates/thumbnail.ts ***!
  \******************************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.Thumbnail=void 0;var Thumbnail=function(a){var b=a.thumbnailURL,c=a.imgURL,d=a.i;return\"\\n  <div class=\\\"Feed-thumbnail\\\">\\n    <label class=\\\"Feed-trigger\\\" for=\\\"lightbox-\".concat(d,\"\\\" style=\\\"background-image: url(\").concat(b,\"), linear-gradient(35deg, #FFCA54, #FF7163 80%)\\\">\\n    </label>\\n    <img class=\\\"Feed-img\\\" src=\\\"\").concat(c,\"\\\" />\\n  </div>\\n\")};exports.Thumbnail=Thumbnail;\n\n//# sourceURL=webpack:///./src/scripts/instagram/templates/thumbnail.ts?");

/***/ }),

/***/ "./src/scripts/slider/index.ts":
/*!*************************************!*\
  !*** ./src/scripts/slider/index.ts ***!
  \*************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("var _slider=__webpack_require__(/*! ./slider */ \"./src/scripts/slider/slider.ts\");var _sliderInit=__webpack_require__(/*! ./slider-init */ \"./src/scripts/slider/slider-init.ts\");var _touchEvents=__webpack_require__(/*! ./touch-events */ \"./src/scripts/slider/touch-events.ts\");var _mouseEvents=__webpack_require__(/*! ./mouse-events */ \"./src/scripts/slider/mouse-events.ts\");Object.defineProperty(exports,\"__esModule\",{value:!0});Object.keys(_slider).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _slider[a]}})});Object.keys(_sliderInit).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _sliderInit[a]}})});Object.keys(_touchEvents).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _touchEvents[a]}})});Object.keys(_mouseEvents).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _mouseEvents[a]}})});\n\n//# sourceURL=webpack:///./src/scripts/slider/index.ts?");

/***/ }),

/***/ "./src/scripts/slider/mouse-events.ts":
/*!********************************************!*\
  !*** ./src/scripts/slider/mouse-events.ts ***!
  \********************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("var Utils=_interopRequireWildcard(__webpack_require__(/*! ../utils */ \"./src/scripts/utils/index.ts\"));Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.jumpToSlide=exports.handleMouseLeave=exports.handleMouseMove=void 0;function _interopRequireWildcard(a){if(a&&a.__esModule)return a;var b={};if(null!=a)for(var c in a)if(Object.prototype.hasOwnProperty.call(a,c)){var d=Object.defineProperty&&Object.getOwnPropertyDescriptor?Object.getOwnPropertyDescriptor(a,c):{};d.get||d.set?Object.defineProperty(b,c,d):b[c]=a[c]}return b.default=a,b}var handleMouseMove=function(a){var b=a.isNext,c=a.trackEl,d=a.slideWidth;return function(a){var e=a.currentTarget,f=a.clientX,g=a.clientY,h=Utils.getElWidth(e),i=Utils.getElHeight(e),j=b?Utils.normalize(f,d-h,d):Utils.normalize(f,0,h),k=Utils.normalize(g-Utils.getElTopPosition(c),0,i);e.parentElement.style.setProperty(\"--x\",\"\".concat(Utils.lerp(.03,j*h,j))),e.parentElement.style.setProperty(\"--y\",\"\".concat(Utils.lerp(.02,k*i,k))),e.style.setProperty(\"--active\",\"1\"),window.requestAnimationFrame(function(){return handleMouseMove({isNext:b,trackEl:c,slideWidth:d})})}};exports.handleMouseMove=handleMouseMove;var handleMouseLeave=function(a){var b=a.currentTarget,c=b;c.parentElement.style.setProperty(\"--x\",\"0\"),c.parentElement.style.setProperty(\"--y\",\"0\"),c.style.setProperty(\"--active\",\"0\")};exports.handleMouseLeave=handleMouseLeave;var jumpToSlide=function(a){var b=a.dotList,c=a.dotIndex,d=a.trackEl,f=a.config,g=a.slideWidth;return function(a){if(d&&b&&f)return f.index=c+1,f.moveX=g*f.index,d.style.setProperty(\"--moveX\",\"\".concat(-f.moveX)),b.forEach(function(a){return a.style.setProperty(\"--active\",\"0\")}),a.currentTarget.style.setProperty(\"--active\",\"1\"),f}};exports.jumpToSlide=jumpToSlide;\n\n//# sourceURL=webpack:///./src/scripts/slider/mouse-events.ts?");

/***/ }),

/***/ "./src/scripts/slider/slider-init.ts":
/*!*******************************************!*\
  !*** ./src/scripts/slider/slider-init.ts ***!
  \*******************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.init=exports.initMouse=exports.initTouch=void 0;var Utils=_interopRequireWildcard(__webpack_require__(/*! ../utils */ \"./src/scripts/utils/index.ts\")),_slider=__webpack_require__(/*! ./slider */ \"./src/scripts/slider/slider.ts\"),_mouseEvents=__webpack_require__(/*! ./mouse-events */ \"./src/scripts/slider/mouse-events.ts\"),_touchEvents=__webpack_require__(/*! ./touch-events */ \"./src/scripts/slider/touch-events.ts\"),_utils2=__webpack_require__(/*! ./utils */ \"./src/scripts/slider/utils.ts\");function _interopRequireWildcard(a){if(a&&a.__esModule)return a;var b={};if(null!=a)for(var c in a)if(Object.prototype.hasOwnProperty.call(a,c)){var d=Object.defineProperty&&Object.getOwnPropertyDescriptor?Object.getOwnPropertyDescriptor(a,c):{};d.get||d.set?Object.defineProperty(b,c,d):b[c]=a[c]}return b.default=a,b}function _toConsumableArray(a){return _arrayWithoutHoles(a)||_iterableToArray(a)||_nonIterableSpread()}function _nonIterableSpread(){throw new TypeError(\"Invalid attempt to spread non-iterable instance\")}function _iterableToArray(a){if(Symbol.iterator in Object(a)||\"[object Arguments]\"===Object.prototype.toString.call(a))return Array.from(a)}function _arrayWithoutHoles(a){if(Array.isArray(a)){for(var b=0,c=Array(a.length);b<a.length;b++)c[b]=a[b];return c}}var initTouch=function(a){var b=a.sliderEl,c=a.trackEl,d=a.slideList,e=a.config;if(c){var f=_toConsumableArray(b.querySelectorAll(\".js_slider-btn\"));if(f){var g=Utils.getElWidth(c);Array.isArray(d)&&1<d.length&&d.forEach(function(a){a.addEventListener(\"touchstart\",(0,_touchEvents.handleStart)(e),{passive:!0}),a.addEventListener(\"touchmove\",(0,_touchEvents.handleMove)({trackEl:c,trackWidth:g,config:e,dotIndex:e.index,itemLength:d.length}),{passive:!0}),a.addEventListener(\"touchend\",(0,_touchEvents.handleEnd)({trackEl:c,trackWidth:g,config:e,dotIndex:e.index,itemLength:d.length}),{passive:!0})}),f.forEach(function(a,b){0===b&&a.addEventListener(\"click\",(0,_slider.handlePrev)({trackEl:c,trackWidth:g,config:e,dotIndex:e.index,itemLength:d.length})),1===b&&a.addEventListener(\"click\",(0,_slider.handleNext)({trackEl:c,trackWidth:g,config:e,dotIndex:e.index,itemLength:d.length}))})}}};exports.initTouch=initTouch;var initMouse=function(a){var b=a.sliderEl,c=a.trackEl,d=a.slideList,e=a.config;if(c){var f=_toConsumableArray(b.querySelectorAll(\".js_slider-btn\")),g=_toConsumableArray(b.querySelectorAll(\".js_slider-dot\"));if(f&&g){var h=Utils.getElWidth(c),j=h/d.length;Array.isArray(f)&&1<f.length&&f.forEach(function(a,b){a.addEventListener(\"mouseenter\",(0,_mouseEvents.handleMouseMove)({isNext:0!==b,trackEl:c,slideWidth:j})),a.addEventListener(\"mousemove\",(0,_mouseEvents.handleMouseMove)({isNext:0!==b,trackEl:c,slideWidth:j}),{passive:!0}),a.addEventListener(\"mouseleave\",_mouseEvents.handleMouseLeave),0===b&&a.addEventListener(\"click\",(0,_slider.handlePrev)({trackEl:c,dotList:g,trackWidth:h,config:e,dotIndex:e.index,itemLength:d.length})),1===b&&a.addEventListener(\"click\",(0,_slider.handleNext)({trackEl:c,dotList:g,trackWidth:h,config:e,dotIndex:e.index,itemLength:d.length})),window.requestAnimationFrame(function(){return(0,_mouseEvents.handleMouseMove)({isNext:0!==b,trackEl:c,slideWidth:j})})}),Array.isArray(g)&&1<g.length&&g.forEach(function(a,b){a.addEventListener(\"click\",(0,_mouseEvents.jumpToSlide)({trackEl:c,config:e,dotList:g,slideWidth:j,dotIndex:b}))})}}};exports.initMouse=initMouse;var init=function(a){var b=a.sliderEl,c=a.trackEl,d=a.config;if(c){var e=_toConsumableArray(c.querySelectorAll(\".js_slider-item\")),f=(0,_utils2.sanatizedNodes)((0,_utils2.cloneFirstLast)(e));c.appendChild(f[0]),c.insertBefore(f[1],e[0]),f.forEach(function(a,b){e.push(f[b])}),d.moveX=d.index*Utils.getElWidth(b),c.style.setProperty(\"--items\",\"\".concat(e.length)),c.style.setProperty(\"--moveX\",\"\".concat(-d.moveX));var g={sliderEl:b,trackEl:c,slideList:e,config:d},h={sliderEl:b,trackEl:c,slideList:e,config:d};window.matchMedia(\"(min-width: 769px)\").matches?initMouse(g):initTouch(h),window.addEventListener(\"resize\",function(){d.moveX=d.index*Utils.getElWidth(b),c.style.setProperty(\"--items\",\"\".concat(e.length)),c.style.setProperty(\"--moveX\",\"\".concat(-d.moveX)),window.matchMedia(\"(min-width: 769px)\").matches?initMouse(g):initTouch(h)})}};exports.init=init;\n\n//# sourceURL=webpack:///./src/scripts/slider/slider-init.ts?");

/***/ }),

/***/ "./src/scripts/slider/slider.ts":
/*!**************************************!*\
  !*** ./src/scripts/slider/slider.ts ***!
  \**************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.handlePrev=exports.handleNext=exports.handleInfinite=exports.Config=void 0;var Config={sliderInit:{index:1,moveX:0,startX:0,startMoveX:0,transition:0},create:function c(a){var b=a.transitionDuration;return this.sliderInit.transition=b,Object.assign({},this.sliderInit)}};exports.Config=Config;var updateDots=function(a){var b=a.dotList,c=a.dotIndex;b&&b.map(function(a,b){b===c?a.style.setProperty(\"--active\",\"1\"):a.style.setProperty(\"--active\",\"0\")})},handleInfinite=function(a){var b=a.trackEl,c=a.trackWidth,d=a.itemLength,e=a.config;if(c&&d&&e){var f=c/d;return{prev:function a(){return window.setTimeout(function(){return b.style.setProperty(\"--transition\",\"none\"),e.index=d-2,e.moveX=f*e.index,b.style.setProperty(\"--moveX\",\"\".concat(-e.moveX)),e},e.transition+200),e},next:function a(){return window.setTimeout(function(){return b.style.setProperty(\"--transition\",\"none\"),e.index=1,e.moveX=f*e.index,b.style.setProperty(\"--moveX\",\"\".concat(-e.moveX)),e},e.transition+200),e}}}};exports.handleInfinite=handleInfinite;var handleNext=function(a){var b=a.trackEl,c=a.dotList,d=a.trackWidth,e=a.itemLength,f=a.config;return function(){if(d&&e&&f){var a=d/e,g=handleInfinite({trackEl:b,trackWidth:d,itemLength:e,config:f});return f.moveX>=a*(e-1)?f:(f.index++,f.moveX=a*f.index,b.style.setProperty(\"--moveX\",\"\".concat(-f.moveX)),b.style.setProperty(\"--transition\",\"transform \".concat(f.transition,\"ms ease-out\")),f.moveX>=d-a&&g.next(),c&&1<c.length&&updateDots({dotList:c,dotIndex:f.index<=c.length?f.index-1:0}),f)}}};exports.handleNext=handleNext;var handlePrev=function(a){var b=a.trackEl,c=a.trackWidth,d=a.itemLength,e=a.dotList,f=a.config;return function(){if(c&&d&&f){var a=handleInfinite({trackEl:b,trackWidth:c,itemLength:d,config:f});return 0>=f.moveX?f:(f.index--,f.moveX=c/d*f.index,b.style.setProperty(\"--moveX\",\"\".concat(-f.moveX)),b.style.setProperty(\"--transition\",\"transform \".concat(f.transition,\"ms ease-out\")),0===f.moveX&&a.prev(),e&&1<e.length&&updateDots({dotList:e,dotIndex:1>f.index?e.length-1:f.index-1}),f)}}};exports.handlePrev=handlePrev;\n\n//# sourceURL=webpack:///./src/scripts/slider/slider.ts?");

/***/ }),

/***/ "./src/scripts/slider/touch-events.ts":
/*!********************************************!*\
  !*** ./src/scripts/slider/touch-events.ts ***!
  \********************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.handleEnd=exports.handleMove=exports.handleStart=void 0;var _slider=__webpack_require__(/*! ./slider */ \"./src/scripts/slider/slider.ts\"),handleStart=function(a){return function(b){var c=!0,d=!1,e=void 0;try{for(var f,g,h=b.touches[Symbol.iterator]();!(c=(f=h.next()).done);c=!0)return g=f.value,a.startX=g.clientX,a}catch(a){d=!0,e=a}finally{try{c||null==h.return||h.return()}finally{if(d)throw e}}}};exports.handleStart=handleStart;var handleMove=function(a){var b=a.trackEl,c=a.trackWidth,d=a.itemLength,f=a.config;return function(a){if(c&&d&&f&&b){var e=c/d*f.index,g=!0,h=!1,i=void 0;try{for(var j,k,l=a.touches[Symbol.iterator]();!(g=(j=l.next()).done);g=!0)return k=j.value,f.startMoveX=k.clientX,f.moveX=e+(f.startX-k.clientX),b.style.setProperty(\"--transition\",\"none\"),0<f.moveX&&f.moveX<c/2&&b.style.setProperty(\"--moveX\",\"\".concat(-f.moveX)),f}catch(a){h=!0,i=a}finally{try{g||null==l.return||l.return()}finally{if(h)throw i}}}}};exports.handleMove=handleMove;var handleEnd=function(a){var b=a.trackEl,c=a.trackWidth,d=a.itemLength,e=a.config;return function(){if(c&&d&&e&&b){var a=c/d,f=Math.abs(e.index*a-e.moveX),g=(0,_slider.handleInfinite)({trackEl:b,trackWidth:c,itemLength:d,config:e});return f>a/3&&(e.moveX>e.index*a&&e.index<d-1?e.index++:e.moveX<e.index*a&&0<e.index&&e.index--),b.style.setProperty(\"--transition\",\"transform \".concat(2*e.transition,\"ms ease-out\")),b.style.setProperty(\"--moveX\",\"\".concat(-e.index*a)),0===e.moveX&&g.prev(),e.moveX>=c-a&&g.next(),e}}};exports.handleEnd=handleEnd;\n\n//# sourceURL=webpack:///./src/scripts/slider/touch-events.ts?");

/***/ }),

/***/ "./src/scripts/slider/utils.ts":
/*!*************************************!*\
  !*** ./src/scripts/slider/utils.ts ***!
  \*************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.sanatizedNodes=exports.cloneFirstLast=void 0;var cloneFirstLast=function(a){return a.reduce(function(b,c,d){return(0===d||d===a.length-1)&&b.push(c.cloneNode(!0)),b},[])};exports.cloneFirstLast=cloneFirstLast;var sanatizedNodes=function(a){return a.map(function(a){return a.removeAttribute(\"tabindex\"),a.setAttribute(\"aria-hiden\",\"true\"),a})};exports.sanatizedNodes=sanatizedNodes;\n\n//# sourceURL=webpack:///./src/scripts/slider/utils.ts?");

/***/ }),

/***/ "./src/scripts/utils/dom.ts":
/*!**********************************!*\
  !*** ./src/scripts/utils/dom.ts ***!
  \**********************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.getElTopPosition=exports.getElHeight=exports.getElWidth=void 0;var getElWidth=function(a){return a.getBoundingClientRect().width};exports.getElWidth=getElWidth;var getElHeight=function(a){return a.getBoundingClientRect().height};exports.getElHeight=getElHeight;var getElTopPosition=function(a){return a.getBoundingClientRect().top};exports.getElTopPosition=getElTopPosition;\n\n//# sourceURL=webpack:///./src/scripts/utils/dom.ts?");

/***/ }),

/***/ "./src/scripts/utils/index.ts":
/*!************************************!*\
  !*** ./src/scripts/utils/index.ts ***!
  \************************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("var _dom=__webpack_require__(/*! ./dom */ \"./src/scripts/utils/dom.ts\");var _math=__webpack_require__(/*! ./math */ \"./src/scripts/utils/math.ts\");Object.defineProperty(exports,\"__esModule\",{value:!0});Object.keys(_dom).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _dom[a]}})});Object.keys(_math).forEach(function(a){\"default\"===a||\"__esModule\"===a||Object.defineProperty(exports,a,{enumerable:!0,get:function b(){return _math[a]}})});\n\n//# sourceURL=webpack:///./src/scripts/utils/index.ts?");

/***/ }),

/***/ "./src/scripts/utils/math.ts":
/*!***********************************!*\
  !*** ./src/scripts/utils/math.ts ***!
  \***********************************/
/*! no static exports found */
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("Object.defineProperty(exports,\"__esModule\",{value:!0}),exports.normalize=normalize,exports.lerp=lerp;function normalize(a,b,c){return(a-b)/(c-b)}function lerp(a,b,c){return(c-b)*a+b}\n\n//# sourceURL=webpack:///./src/scripts/utils/math.ts?");

/***/ })

/******/ });