@font-face {
  font-family: "museo_sans300";
  src: url("{{ 'MuseoSans_300-webfont.woff' | file_url }}") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo300";
  src: url("{{ 'Museo300_Regular-webfont.woff' | file_url }}") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo500";
  src: url("{{ 'Museo500-Regular-webfont.woff' | file_url }}") format("woff");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "quattrocento";
//   src: url("{{ 'quattrocento-regular-webfont.woff' | file_url }}") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }
