$columns: 4;
$base-gap: 12px;
$small-gap: $base-gap / 2;
$large-gap: $base-gap * 2;

.Grid {
  display: flex;
  flex-wrap: wrap;
}

.Grid-cell {
  width: 100%;

  @include grid-creator($columns, $large-gap);

  @include media(small) {
    &--small {
      @include grid-creator($columns, $small-gap);
    }
  }
  @include media(small) {
    &--medium {
      @include grid-creator($columns, $base-gap);
    }
  }
}
