//--
//-- MOBILE FIRST GRID WRAPPER
//--

@mixin grid-wrapper () {
    display: flex;
    flex-wrap: wrap;
}
//-- The $count argument accepts the amount of necessary columns
//-- for smartphone devices and iPad mini var(--vp-medium).
//-- The $gap argument defaults to 0-
//-- The factor argument defines the necessary amount of columns
//-- based on the given $count parameter.

@mixin  grid-cell ($count,  $factor-count, $gap: 0) {
  $column-width: 100% / $count;

  box-sizing: border-box;

  @if ($gap != 0) {
    width: calc(#{$column-width} - #{$gap});
    padding: 0 $gap;
  }

  @else {
      width:  $column-width;
  }

  @include media(medium) {
    @if ($gap != 0) {
      width: calc(#{$column-width / $factor-count} - #{$gap});
      padding: 0 $gap;
    }

    @else {
        width:  $column-width / 2;
    }
  }
}
