article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

//--  Android 2.3 :checked fix
@keyframes radio-controlled-fix {
    from {
        opacity: 1;
    }
    to {
        opacity: 1
    }
}

body,
figure {
    margin: 0;
    animation: radio-controlled-fix 1s infinite;
}

a {
    text-decoration: none;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
}
