//-- LAYOUT
$text-block-max-width   : 63rem;
$nav-height             : 7rem;
$nav-height-medium      : 8rem;
$base-spacing           : 2rem;
$base-margin            : 1rem;

//-- FORMS
$form-base-height       : 4rem;
$form-base-height       : 4.6rem;
$form-base-margin       : 1rem;
$form-base-padding      : 2rem;

//-- BOX SIZING
$box-base-padding       : $form-base-padding + 1.6rem;

//-- PRODUCT
$product-base-spacing   : 4rem;

//-- TYPOGRAPHY
//-- Increments the size of the typography
//-- according to the device width.
$typo-tablet-factor    : 1.444444444;
$typo-desktop-factor   : 1.292307692;

//-- CSS INLINE IMAGES
$video-brand-poster    : url('https://cdn.shopify.com/s/files/1/0742/2733/files/WDLK_Brand-Video-Poster.jpg?1926000932383074848');

//-- GLOBAL TRANSITIONS
$transition-speed      : .30s;
$transition-speed-double: .70s;
$timing                : cubic-bezier(0.455, 0.030, 0.515, 0.955);
$border-timing         : cubic-bezier(0.075, 0.820, 0.165, 1.000);

//-- TOUCH MEASUREMENTS
$touch-target-size     : 4rem;

//-- SVGS FOR DATA URI
$instagram-white: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#FFFFFF" d="M15,18.16H5A3.14,3.14,0,0,1,1.85,15V8.54h4a4.69,4.69,0,0,0-.45,2,4.75,4.75,0,0,0,9.5,0,4.68,4.68,0,0,0-.45-2h3.75V15A3.14,3.14,0,0,1,15,18.16m-2.93-7.61a2,2,0,1,1-2-2,2,2,0,0,1,2,2M5,1.84H15A3.14,3.14,0,0,1,18.15,5V6.69h-5.3a4.75,4.75,0,0,0-5.49,0H1.85V5A3.14,3.14,0,0,1,5,1.84M5,0A5,5,0,0,0,0,5V15a5,5,0,0,0,5,5H15a5,5,0,0,0,5-5V5a5,5,0,0,0-5-5H5Z"/></svg>';

$instagram-coral: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#FF7163" d="M15,18.16H5A3.14,3.14,0,0,1,1.85,15V8.54h4a4.69,4.69,0,0,0-.45,2,4.75,4.75,0,0,0,9.5,0,4.68,4.68,0,0,0-.45-2h3.75V15A3.14,3.14,0,0,1,15,18.16m-2.93-7.61a2,2,0,1,1-2-2,2,2,0,0,1,2,2M5,1.84H15A3.14,3.14,0,0,1,18.15,5V6.69h-5.3a4.75,4.75,0,0,0-5.49,0H1.85V5A3.14,3.14,0,0,1,5,1.84M5,0A5,5,0,0,0,0,5V15a5,5,0,0,0,5,5H15a5,5,0,0,0,5-5V5a5,5,0,0,0-5-5H5Z"/></svg>';

$arrow: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 26" fill="#FFFFFF"><polygon points="0 11.91 11.5 0 13.59 2.16 4.16 11.92 13.59 21.69 11.5 23.85 0 11.94 0.02 11.92 0 11.91"/><polygon points="57.23 11.91 45.32 0 43.16 2.16 52.92 11.92 43.16 21.69 45.32 23.85 57.23 11.94 57.21 11.92 57.23 11.91"/></svg>';
