//-- LAYOUT
:root {
    --base-sapacing: 2rem;
    --base-margin: 1rem;
}
$base-spacing: 4rem;

//-- FORMS
$form-base-height: 4rem;
:root {
    --form-base-height: 4rem;
    --form-base-margin: 1rem;
    --form-base-padding: 2rem;
}
